
<div class="contact">

<div style='height:100px;' class="row g-0 d-flex d-xl-flex d-xxl-flex pb-xxl-5">

</div>


<div class="container-fluid pb-5 pt-5">

    <div class="row contactus justify-content-around g-0">

        <div class="col-11 col-sm-10 col-xl-11 col-xxl-11 align-self-center align-self-xxl-start ">

            <div class="row mt-5 justify-content-center justify-content-xl-around g-0">

                <div class="col-12 col-xl-5 align-self-center">

                    <iframe class="iframe"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11327187.114472847!2d75.30806822596912!3d22.699917192484627!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30635ff06b92b791%3A0xd78c4fa1854213a6!2sIndia!5e0!3m2!1sen!2sin!4v1657691022913!5m2!1sen!2sin"
                        allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

                </div>

                <div class="col-11 col-xl-6 pt-2">
                    <h1 class="pb-3">Contact Us</h1>
                    <h3 class="comm"> Communication Address:</h3>
                    <div class="col-md-12 ">
                        <address>

                            ReadyAssist - 24 hours vehicle care,<br>
                            #16, 17th Cross, 9th Main Rd,<br>
                            Sector 7, HSR Layout,<br>
                            Bangalore-560102,<br>
                            Karnataka, India
                            <p class="email"><a href="mailto:hello@readyassist.in">hello@readyassist.in</a><span
                                    class="email-seprator" style="color: #fff;"></span> <a
                                    href="tel:080-4680 9090">080-4680 9090</a></p>
                        </address>


                    </div>

                    <div class="col-md-12 pt-3 ">

                        <h2>24/7 Onspot Breakdown Support <p>Hotline : <a href="tel:080-4680 9090">080-4680
                                    9090</a><br>Email : <a style="color:black"
                                    href="mailto:hello@readyassist.in">hello@readyassist.in</a></p>
                        </h2>



                    </div>




                    <div class="row justify-content-center align-self-center text-center g-0 pt-4">

                        <div class=" col-8 col-sm-7 col-md-4">
                            <h3 class=" pt-2">Escalations: <p><a style="color:black"
                                href="mailto:hello@readyassist.in">escalations@readyassist.in</a></p>
                            </h3><br>
                        </div>



                        <div class=" col-8 col-sm-7 col-md-4 ">
                            <h3 class="business pt-2">Business: <p><a style="color:black"
                                href="mailto:hello@readyassist.in">business@readyassist.in</a></p>
                            </h3><br>
                        </div>



                        <div class=" col-8 col-sm-7 col-md-4">
                            <h3 class=" pt-2">For Job: <p><a style="color:black"
                                href="mailto:hello@readyassist.in">career@readyassist.in</a></p>
                            </h3><br>
                        </div>
                    </div>








                </div>
            </div>

        </div>
    </div>

</div>

</div>