img{
    width: 100%;
    min-width:300px;
}

.btn1{
    background-color: transparent;
    border:none;
}

.btn2{
    border-radius : 4px;
    color:white;
    border :none;
    background-image: linear-gradient( to right, #0e7912, #4aad52);
    width : 165px;
    height :50px;
}

h1{
    font-size :3.5vw;
    font-weight: bolder;
    letter-spacing : 10px;
    @media (max-width : 575px){
        font-size : 9vw;
    }
   
 
}

h2{
    font-size: 20px;
    font-weight : 100;
}

p{
    font-weight :100;
    
}