
.img1{
    width: 10%;
    min-width:280px;
}

.img2{
    width: 100%;
}

.btn1{
    background-color: transparent;
    border:none;
}

.btn2{
    border-radius : 4px;
    color:white;
    border :none;
    background-image: linear-gradient( to right, #0e7912, #4aad52);
    width : 165px;
    height :50px;
}

h1{
    
    text-align: justify;
    font-weight: bolder;
    letter-spacing : 10px;
    @media (max-width : 575px){
        font-size : 9vw;
    }
}



p{
    font : 20px bolder;
    font-weight :100;
    
}