<div class="container-fluid pt-2 pb-5">

    <div class="row pb-0 pb-md-5">

        <div class="col-2">
            <button class="btn1" [routerLink]="['/']" ><img class="img1" src="../../../assets/images/grid_logo.png"></button>
        </div>
    </div>

    <div class="row justify-content-around pt-0 pt-lg-5 mt-lg-5">

        <div class="col-12 col-sm-5">

        <div class="row pt-5 justify-content-center">

            <div class="col-11 col-sm-12 pt-5 pb-5 text-center">
                <h1 style="color:#5cad2f">#GOELECTRIC</h1>
            </div>
            <div class="col-12 d-flex justify-content-between px-5 px-sm-2 px-md-3 px-lg-4 pb-5">
                <div class="px-1"><p>CHARGE</p></div>   |  <div class="px-1"><p>SWAP</p></div>   |   <div class="px-1"><p>SERVICE</p></div>
            </div>

                <div class="col-12 px-5 px-sm-2 px-md-3 px-lg-4 pb-5">
                    <p>Watch this space for more information.</p>
                </div>
                <div class="col-12 px-5 px-sm-2 px-md-3 px-lg-4">
                    <button class="btn2">Coming Soon...</button>
                </div>

        </div>
            
        </div>
        <div class="col-10 col-sm-5 pt-4 align-self-center text-center">
           <img class="img2" src="../../../assets/images/car.jpeg"> 
        </div>
    </div>

</div>



