<div id="readyassist-ui">
    <div class="nl-subscriptionplans-bg section">
        <div class="nl-subscriptionplans-container layout-padding">
            <div class="nl-subscriptionplans-card layout-px">
                <mat-tab-group [@.disabled]="true" mat-align-tabs="center">
                    <mat-tab class="twowheel-btn" label="Two Wheeler">
                        <div class="card1-container" style="min-height: 1px;" #carouselHolder>
                            <ng-container *ngIf="isCarouselFor1stTabVisible">
                                <owl-carousel-o [options]="newsubscription" class="all-subscription-plans">
                                    <ng-template carouselSlide>
                                        <div class="subscriptioncard-clm">
                                            <div class="subscriptioncard-clm-title">
                                                <p>2Wheeler Pro</p>
                                            </div>
                                            <div class="subscriptioncard-clm-desc">
                                                <div class="price"><i class="fa fa-inr" aria-hidden="true"></i> 1699/-</div>
                                                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. adipisicing elit. </p>
                                                <button (click)="scroll()" class="btn btn-primary text-center">Buy
                                                    now</button>
                                            </div>
                                        </div>
                                    </ng-template>
                                    <ng-template carouselSlide>
                                        <div class="subscriptioncard-clm active-slide">
                                            <div class="subscriptioncard-clm-title">
                                                <p>2Wheeler Pro</p>
                                            </div>
                                            <div class="subscriptioncard-clm-desc">
                                                <div class="price"><i class="fa fa-inr" aria-hidden="true"></i> 1699/-</div>
                                                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. adipisicing elit. </p><button
                                                    (click)="scroll()" class="btn btn-primary text-center">Buy
                                                    now</button>
                                            </div>
                                        </div>
                                    </ng-template>
                                    <ng-template carouselSlide>
                                        <div class="subscriptioncard-clm">
                                            <div class="subscriptioncard-clm-title">
                                                <p>2Wheeler Pro</p>
                                            </div>
                                            <div class="subscriptioncard-clm-desc">
                                                <div class="price"><i class="fa fa-inr" aria-hidden="true"></i> 1699/-</div>
                                                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. adipisicing elit. </p><button
                                                    (click)="scroll()" class="btn btn-primary text-center">Buy
                                                    now</button>
                                            </div>
                                        </div>
                                    </ng-template>
                                    <ng-template carouselSlide>
                                        <div class="subscriptioncard-clm">
                                            <div class="subscriptioncard-clm-title">
                                                <p>2Wheeler Pro</p>
                                            </div>
                                            <div class="subscriptioncard-clm-desc">
                                                <div class="price"><i class="fa fa-inr" aria-hidden="true"></i> 1699/-</div>
                                                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. adipisicing elit. </p><button
                                                    (click)="scroll()" class="btn btn-primary text-center">Buy
                                                    now</button>
                                            </div>
                                        </div>
                                    </ng-template>
                                    <ng-template carouselSlide>
                                        <div class="subscriptioncard-clm">
                                            <div class="subscriptioncard-clm-title">
                                                <p>2Wheeler Pro</p>
                                            </div>
                                            <div class="subscriptioncard-clm-desc">
                                                <div class="price"><i class="fa fa-inr" aria-hidden="true"></i> 1699/-</div>
                                                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. adipisicing elit. </p><button
                                                    (click)="scroll()" class="btn btn-primary text-center">Buy
                                                    now</button>
                                            </div>
                                        </div>
                                    </ng-template>
                                    <ng-template carouselSlide>
                                        <div class="subscriptioncard-clm">
                                            <div class="subscriptioncard-clm-title">
                                                <p>2Wheeler Pro</p>
                                            </div>
                                            <div class="subscriptioncard-clm-desc">
                                                <div class="price"><i class="fa fa-inr" aria-hidden="true"></i> 1699/-</div>
                                                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. adipisicing elit. </p><button
                                                    (click)="scroll()" class="btn btn-primary text-center">Buy
                                                    now</button>
                                            </div>
                                        </div>
                                    </ng-template>
                                </owl-carousel-o>
                                <!-- before content here -->

                            </ng-container>
                        </div>
                    </mat-tab>
                    <mat-tab label="Four Wheeler">
                        <!-- content 2 -->
                        <div class="card1-container" style="min-height: 1px;" #carouselHolder2>
                            <ng-container *ngIf="isCarouselFor2stTabVisible">
                                <owl-carousel-o [options]="newsubscription" class="all-subscription-plans">
                                    <ng-template carouselSlide>
                                        <div class="subscriptioncard-clm">
                                            <div class="subscriptioncard-clm-title">
                                                <p>2Wheeler Pro</p>
                                            </div>
                                            <div class="subscriptioncard-clm-desc">
                                                <div class="price"><i class="fa fa-inr" aria-hidden="true"></i> 1699/-</div>
                                                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. adipisicing elit. </p><button
                                                    (click)="scroll()" class="btn btn-primary text-center">Buy
                                                    now</button>
                                            </div>
                                        </div>
                                    </ng-template>
                                    <ng-template carouselSlide>
                                        <div class="subscriptioncard-clm active-slide">
                                            <div class="subscriptioncard-clm-title">
                                                <p>32</p>
                                            </div>
                                            <div class="subscriptioncard-clm-desc">
                                                <div class="price"><i class="fa fa-inr" aria-hidden="true"></i> 1699/-</div>
                                                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. adipisicing elit. </p><button
                                                    (click)="scroll()" class="btn btn-primary text-center">Buy
                                                    now</button>
                                            </div>
                                        </div>
                                    </ng-template>
                                    <ng-template carouselSlide>
                                        <div class="subscriptioncard-clm">
                                            <div class="subscriptioncard-clm-title">
                                                <p>2Wheeler Pro</p>
                                            </div>
                                            <div class="subscriptioncard-clm-desc">
                                                <div class="price"><i class="fa fa-inr" aria-hidden="true"></i> 1699/-</div>
                                                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. adipisicing elit. </p><button
                                                    (click)="scroll()" class="btn btn-primary text-center">Buy
                                                    now</button>
                                            </div>
                                        </div>
                                    </ng-template>
                                    <ng-template carouselSlide>
                                        <div class="subscriptioncard-clm">
                                            <div class="subscriptioncard-clm-title">
                                                <p>2Wheeler Pro</p>
                                            </div>
                                            <div class="subscriptioncard-clm-desc">
                                                <div class="price"><i class="fa fa-inr" aria-hidden="true"></i> 1699/-</div>
                                                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. adipisicing elit. </p><button
                                                    (click)="scroll()" class="btn btn-primary text-center">Buy
                                                    now</button>
                                            </div>
                                        </div>
                                    </ng-template>
                                    <ng-template carouselSlide>
                                        <div class="subscriptioncard-clm">
                                            <div class="subscriptioncard-clm-title">
                                                <p>2Wheeler Pro</p>
                                            </div>
                                            <div class="subscriptioncard-clm-desc">
                                                <div class="price"><i class="fa fa-inr" aria-hidden="true"></i> 1699/-</div>
                                                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. adipisicing elit. </p><button
                                                    (click)="scroll()" class="btn btn-primary text-center">Buy
                                                    now</button>
                                            </div>
                                        </div>
                                    </ng-template>
                                    <ng-template carouselSlide>
                                        <div class="subscriptioncard-clm">
                                            <div class="subscriptioncard-clm-title">
                                                <p>2Wheeler Pro</p>
                                            </div>
                                            <div class="subscriptioncard-clm-desc">
                                                <div class="price"><i class="fa fa-inr" aria-hidden="true"></i> 1699/-</div>
                                                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. adipisicing elit. </p><button
                                                    (click)="scroll()" class="btn btn-primary text-center">Buy
                                                    now</button>
                                            </div>
                                        </div>
                                    </ng-template>
                                </owl-carousel-o>
                            </ng-container>
                        </div>
                        <!-- content 2 -->
                    </mat-tab>
                </mat-tab-group>
            </div>

        </div>
    </div>

    <!-- buy50 content -->
    <section #textCreate class="section">
        <div id="buy50" style="padding-top: 7%;
    padding-bottom: 13%;">
            <div class="accordion-body">
                <div class="buynow-form">
                    <app-nl-buynowscreen *ngIf="buynowScreen"></app-nl-buynowscreen>
                    <app-subscribeinformation *ngIf="!buynowScreen"></app-subscribeinformation>
                </div>
            </div>

        </div>

    </section>

    <!-- footer -->



    <!-- buy50 content -->

</div>


