<div id="superso-ui">
    <div class="carepartner-container">
            <h1 class="carepartner-maintitle">We are a Strategic Vehicle <br>Care Partner</h1>
            <span>To the below list of our valuable clients & more</span>
            <owl-carousel-o [options]="carepatnerOption"> 
                <ng-template carouselSlide>
                    <div class="carepartner-testimonial-card">
                        <div class="carepartner-testimonial-clm">
                            <div class="carepartner-brand">
                                <img src="./assets/images/ra_shell.png" width="100%" alt="" srcset="">
                            </div>
                        </div>

                        <div class="carepartner-testimonial-clm">
                            <h3 class="carepartner-testimonial-card-title">
                                Shell Lubricants India 
                            </h3>
                            <div class="carepartner-testimonial-description">
                                <p>Shell continues to stand for powering progress and to support the community of mechanics. We are extremely happy to have associated with a start-up like ReadyAssist, which shares our empathy and understanding of the relevance of mechanics in the entire mobility ecosystem. While Shell is known for its world-class products, this partnership will further enable us to bring our products closer to the customers and provide them with a high-quality service experience</p>
                            </div>
                            <div class="carepartner-partner-name">
                                <p style="margin: 0;"><b>Debanjali Sengupta</b></p>
                                <small>Country Head</small>
                            </div>
                        </div>
                    </div>
                 </ng-template> 
                <ng-template carouselSlide>
                    <div class="carepartner-testimonial-card">
                        <div class="carepartner-testimonial-clm">
                            <div class="carepartner-brand">
                            <img src="./assets/images/ra_driveu.png" width="100%" alt="" srcset="">
                            </div>
                        </div>

                        <div class="carepartner-testimonial-clm">
                            <h3 class="carepartner-testimonial-card-title">
                                Driveu
                            </h3>
                            <div class="carepartner-testimonial-description">
                                <p>Roadside Assistance from ReadyAssist on DriveU is a great addition for our customers.
                                    It's agreat fit with our motto of simplifying the car ownership journey for the millions
                                    of car ownersin India.</p>
                            </div>
                            <div class="carepartner-partner-name">
                                <p style="margin: 0;"><b>Ashok Shastry</b></p>
                                <small class="text-muted">Co-Founder & CO</small>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </owl-carousel-o>

        </div>

    </div>
    <hr>



