<div id="readyassist-ui">
    <div class="nl-home-container">
        <div class="nl-home-card layout-padding"> 
          <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12">
              <div class="nl-home-left-card nl-home-card-clm">
                <div class="heading">
                    <h1>24/7 onspot break-down support</h1>
                    <!-- <div class="my-5 flip_container">
                      <div class="flip">
                        <ul class="list">
                          <li>BATTERY JUMPSTART</li>
                          <li>MINOR REPAIR</li>
                          <li>KEY LOCK ASSISTANCE</li>
                          <li>PUNCTURE REPAIR</li>
                          <li>FUEL DELIVERY</li>
                          <li>FLAT TYRE FIXING</li>
                          <li>TOWING</li>
                          <li>ACCIDENT RECOVERY</li>
                        </ul>
                      </div>
                    </div> -->
                    <div class="my-5 subHeading"><p class="f24 fr sp">anytime anywhere in india</p></div>
                    <div class="default-btn-card">
                      <button class="nl-default-btn" [routerLink]="['subscriptionplans']" >Book Service <span class="angleright">&nbsp; →</span></button>
                    </div>
                  </div>
            </div>
            </div>
            <div class="col-lg-8 col-md-12 col-sm-12 video-container">
              <div class="nl-home-left-card nl-home-card-clm">
                <div class="truck-card">
                  <!-- <img src="./assets/images/nl_truck.png" alt="" srcset=""> -->
                  <div id="superso-ui">
                    <div class="superso-hme-video-container">
                            <iframe src="https://fast.wistia.net/embed/iframe/3gb70n4cnv"
                                title="fast.wistia.net"
                                sandbox="allow-scripts allow-popups allow-forms allow-same-origin allow-top-navigation-by-user-activation"
                                allowfullscreen="" loading="lazy" frameborder="0"></iframe>
                               
                        </div>
                    </div>
                </div>
               
              </div>
            </div>
          </div>
           
            
        </div>
    </div>
</div>

<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>