
  <div id="readyassist-ui">
    <!-- <div class="section">
      <app-nl-dowloadreadyassistapp></app-nl-dowloadreadyassistapp>
  </div> -->
    <div class="nl-footercards-container layout-padding">
      <div class="footer-text">
        <!-- <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta pariatur sunt possimus officia itaque similique ut perferendis reprehenderit sequi. Nisi, dolor optio? Facere itaque asperiores voluptas quae. Mollitia possimus consectetur qui deleniti facere, quis illum eius totam ex exercitationem, sapiente laborum veniam eum debitis dolor sunt hic excepturi nesciunt earum.</p> -->
      </div>

      <div class="nl-footercards-card">
        <owl-carousel-o [options]="footercard">
          <ng-template carouselSlide>
            <!-- <div class="nl-footercards-clm insta-card">
              <div class="footer-clm-desc">
                  <h3>Follow us on Instagram</h3>
                  <button class="btn btn-danger follow-btn">Follow</button>
              </div>
          </div> -->
          <div class="nl-footercards-clm">
            <div class="footer-clm-desc">
                <img src="./assets/images/pinkview.jpg" width="100%" alt="" srcset="">
            </div>
        </div>
          </ng-template>  
          <ng-template carouselSlide>
            <div class="nl-footercards-clm">
              <div class="footer-clm-desc">
                  <img src="./assets/images/pinkview.jpg" width="100%" alt="" srcset="">
              </div>
          </div>
          </ng-template>  
          <ng-template carouselSlide>
            <div class="nl-footercards-clm">
              <div class="footer-clm-desc">
                  <img src="./assets/images/pinkview.jpg" width="100%" alt="" srcset="">
              </div>
          </div>
          </ng-template>  
          <ng-template carouselSlide>
            <div class="nl-footercards-clm">
              <div class="footer-clm-desc">
                  <img src="./assets/images/pinkview.jpg" width="100%" alt="" srcset="">
              </div>
          </div>
          </ng-template>  
          <ng-template carouselSlide>
            <div class="nl-footercards-clm">
              <div class="footer-clm-desc">
                  <img src="./assets/images/pinkview.jpg" width="100%" alt="" srcset="">
              </div>
          </div>
          </ng-template>  
        </owl-carousel-o>
      </div>
    </div>
  </div>