
// .input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
//     border: 1.6px dashed #FFCC33 !important;
// }


.subscriptionform .input-group-text {
    background: white;
    border-right: none !important;
    padding: 12px;
    // border: 1.6px dashed #FFCC33;
    border-radius: 4px 0 0 6px;
}
.fa-phone, .fa-key {
    color: #cacaca;
}
.forminstruction p {
   
    font-size: 14px;
    margin: 40px 0;
}
.btn-action{
    width: 156px;
    margin: 47px 0;
    height: 43px;
    border-radius: 20px;
    border: none;
    
    font-size: 14px;
}
.addvehicle-btn{
    width: 156px;
    margin: 17px 0;
    height: 43px;
    border-radius: 20px;
    border: none;
    font-size: 14px;
    background: linear-gradient(0deg, #404040 0%, #101010 70%) !important;
}
.btn-action:focus{
    box-shadow:none !important;
}
.subscriptionplan-details-card {
    background: #ff4859;
    padding: 12px;
    box-shadow: 0 0 3px #edecec;
    border-radius: 15px;
    h1{
        color: #cacaca;
        font-family: 'fBold';
    }
    p.description{
        color: #fff;
        font-size: 1rem;
    }
    p.price{
        font-size: 32px;
    
    color: #FFCC33;
    }
    p.expiretime {
        font-size: .8rem;
        color: black;
    }
}



.addvehicle-form-container .form-group{
    margin: 12px 0;
}

.addvehicle-card {
    float: right;
}
.vehlist-card {
    border-radius: 55px;
    width: 30%;
    max-height: 60px;
    background: #dedede;
    padding: 10px 30px;
    flex-direction: column;
    display: flex;
    box-shadow: rgb(0 0 0 / 5%) 0 10px 20px 0;
}
.listofvehicles-card{
    gap: 12px;
    display: flex;
    flex-wrap: wrap;
}
.vehname h3 {
    font-size: 13px;
    line-height: 21px;
}
.vehnumber h3 {
    font-size: 13px !important;
    line-height: 20px;
    // color: #FFCC33;
    color: #ff4859;

}
.listofvehicles-card{
    h3{
        margin: 0;
    }
}

.sepratorveh {
    width: 1.5px;
    height: 12px;
    background: #fff;
    margin: 0 10px;
    display: none;
}

.veh-active {
    background: #198754 !important;
    h3{
        color: #fff !important;
        line-height: 20px;
    }
    .sepratorveh{
        background: #FFCC33;
        display: none;
    }
}

.listofvehicles-topcard-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
    h1{
        margin-bottom: 0;
    }
}