<div id="readyassist">
    <div class="nl-subscriptionform-container">
        <div class="nl-subscriptionform-card">
            <div class="subscriptionform">
                <div class="forminstruction">
                    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam harum ullam voluptates adipisci
                        sed.
                        Obcaecati!
                    </p>
                </div>
                <form action="">

                    <!-- step 1 -->

                    <div *ngIf="steps == 1">
                        <section>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">
                                        <i class="fa fa-phone" aria-hidden="true"></i>
                                    </span>
                                </div>
                                <input type="number" class="form-control" placeholder="Enter your mobile no"
                                    aria-label="phoneno" aria-describedby="basic-addon1">
                            </div>
                        </section>

                        <!-- step 2 -->
                        <section *ngIf="isEnabled">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">
                                        <i class="fa fa-key" aria-hidden="true"></i>
                                    </span>
                                </div>
                                <input type="number" class="form-control" placeholder="Enter OTP" aria-label="otp"
                                    aria-describedby="basic-addon1">
                            </div>
                        </section>
                    </div>

                    <!-- step 3 -->
                    <section *ngIf="steps == 2">
                        <div class="listofvehicles-topcard-row">
                            <div class="maintitle">
                                <h1>List of vehicles</h1>
                            </div>
                            <div class="Add-btn">
                                <button  type="button" class="btn-success  btn addvehicle-btn" (click)="addnewVehicle()">
                                    <i class="fa fa-plus" aria-hidden="true"></i> Add Vehicle
                                </button>
                            </div>
                        </div>


                        <div class="listofvehicles-card" *ngIf="VehiclesListenable">
                            <!-- Accordin -->
                            <div class="vehlist-card"
                             *ngFor="let vl of vehiclesList"
                              [ngClass]="vl.isSelect ? 'cardactive' : ''"
                              (click)="selectVehicle(vl)"
                              >
                                <div class="vehname">
                                    <h3>{{vl.vehiclename}}</h3>
                                </div>

                                <div class="vehnumber">
                                    <h3>{{vl.vehiclenumber}}</h3>
                                </div>

                            </div>

                            <!-- Accordin -->
                        </div>
                        <div class="addvehicle-form-container" *ngIf="addVehiclesFormenable"> 
                            <div class="addvehicle-card">

                                <div class="newvehicleform-container">
                                    <section>
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="" placeholder="Vehicle brand"
                                                id="">
                                        </div>
                                    </section>
                                    <div class="form-group">
                                        <input type="text"  class="form-control" placeholder="Choose vehicle model" list="vehlist">
                                        <datalist id="vehlist">
                                            <option *ngFor="let vml of vehiclesModelList" [value]="vml.vehiclemodel">
                                                {{vml.vehiclemodel}}
                                                </option>
                                        </datalist>
                                    </div>

                                    <div class="form-group">
                                        <input type="number" class="form-control" name="" placeholder="Vehicle registration no"
                                            id="">
                                    </div>
                                </div>


                            </div>
                        </div>


                    </section>

                    <!-- action btn -->
                    <section *ngIf="totalSteps">
                        <button type="submit" class="btn-success btn-action" (click)="next()">{{signIn}}</button>
                    </section>
                </form>
                <div class="forminstruction">
                    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam harum ullam voluptates adipisci
                        sed Obcaecati!
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>