<app-menu-bar></app-menu-bar>

<div class="parent row">
  <div class="layout-padding">
    <section>
      <app-home-banner></app-home-banner>
    </section>
    <section>
      <app-home-video></app-home-video>
    </section>
    <section>
      <app-home-features-section></app-home-features-section>
    </section>
    <section>
      <app-notion-creators></app-notion-creators>
    </section>
    <section>
      <app-website-zerofriction></app-website-zerofriction>
    </section>
    <section>
      <app-community-templates></app-community-templates>
    </section>
    <section>
      <app-beautiful-landing-pages></app-beautiful-landing-pages>
    </section>
    <section>
      <app-getstarted-firstsite></app-getstarted-firstsite>
    </section>
    <section>
      <app-website-builder></app-website-builder>
    </section>
    <section>
      <app-footer-chatbox></app-footer-chatbox>
    </section>
    <section>
      <app-super-footer-corners></app-super-footer-corners>
    </section>
  </div>
</div>