<app-menu-bar></app-menu-bar>
<!-- <app-bkupcomp></app-bkupcomp> -->
<div class="layout-padding">
  <div class="lp-section" >
    <app-home-banner></app-home-banner>
  </div>
  <div class="lp-section" >
    <app-home-video></app-home-video>
  </div>
  <div class="lp-section" >
    <app-home-features-section></app-home-features-section>
  </div>
  <div class="lp-section" >
    <app-notion-creators></app-notion-creators>
  </div>
  <div class="lp-section" >
    <app-care-partner></app-care-partner>
  </div>
  <div class="lp-section" >
    <app-recent-popular-news></app-recent-popular-news>
  </div>
  <div class="lp-section" >
    <app-community-templates></app-community-templates>
  </div>
  <div class="lp-section" >
    <app-beautiful-landing-pages></app-beautiful-landing-pages>
  </div>
  <div class="lp-section" >
    <app-getstarted-firstsite></app-getstarted-firstsite>
  </div>
  <div class="lp-section" >
    <app-website-builder></app-website-builder>
  </div>
  <div class="lp-section" >
    <app-footer-chatbox></app-footer-chatbox>
  </div>
  <div class="lp-section" >
    <app-super-footer-corners></app-super-footer-corners>
  </div>
</div>







<!-- <app-website-zerofriction></app-website-zerofriction> -->