<app-menu-bar></app-menu-bar>


<div class="layout-padding">

  <app-home-banner></app-home-banner>
  <app-home-video></app-home-video>
  <app-home-features-section></app-home-features-section>
  <app-notion-creators></app-notion-creators>
  <app-website-zerofriction></app-website-zerofriction>
  <app-community-templates></app-community-templates>
  <app-beautiful-landing-pages></app-beautiful-landing-pages>
  <app-getstarted-firstsite></app-getstarted-firstsite>
  <app-super-footer-corners></app-super-footer-corners>
  <app-footer-chatbox></app-footer-chatbox> 
 <app-website-builder></app-website-builder>
</div>