<!-- menu -->
<!-- New Menu -->

<div id="fullPage">

    <div class="section">
        <app-nl-new-banner></app-nl-new-banner>
    </div> 

     <div class="section">
        <app-nl-subscriptionplan></app-nl-subscriptionplan>
    </div>
    
     <div class="section">
        <app-nl-newtestimonmials></app-nl-newtestimonmials>
    </div>


    <div class="section">
        <app-nl-archivements></app-nl-archivements>
    </div>

    <div class="section">
        <app-nl-collabratedwith></app-nl-collabratedwith>
    </div>

    <div class="section">
        <app-nl-archivements></app-nl-archivements>
    </div>

    <div class="section">
        <app-nl-endorsement></app-nl-endorsement>
    </div>
    
    <div class="section">
        <app-nl-servicepartners></app-nl-servicepartners>
    </div>

    <div class="section">
        <app-nl-boardmembers></app-nl-boardmembers>
    </div>  

    <div class="section">
        <app-nl-blog></app-nl-blog>
    </div>

    <div class="section">
        <app-nl-aboutus></app-nl-aboutus>
    </div>

</div>