<div id="superso-ui">
    <div class="zerofriction-container">
        <h1 class="zerofriction-maintitle">
            Helping you go from zero to website with zero friction.
        </h1>
        <div class="zerofriction-pages">
            <div class="zerofriction-pages-clm">
                <img src="./assets/images/newnotation.avif" width="100%" alt="" srcset="">
                <h1 class="zerofriction-pages-title">
                    <a href="#">Create a new Notion page or start with a template.</a>
                </h1>
            </div>
            <div class="zerofriction-pages-clm">
                <img src="./assets/images/sharetoweb.avif" width="100%"  alt="" srcset="">
                <h1 class="zerofriction-pages-title">
                    <a href="#">Copy your page URL & paste into Super when creating a site</a>
                </h1>
            </div>
            <div class="zerofriction-pages-clm">
                <img src="./assets/images/minimalblog.avif" width="100%" alt="" srcset="">
                <h1 class="zerofriction-pages-title">
                    <a href="#">Watch your Notion page unfold into a fast, functional website</a>
                </h1>
            </div>
        </div>
    </div>
    <hr>
</div>