#superso-ui {
    .superso-hme-video-container {
      margin-top: 70px;
      position: relative;
      padding-bottom: 56.25%;
      /* 16:9 */
      padding-top: 0px;
      transform: translateX(12%);
      height: 0;
      overflow: hidden;
      border-radius: 15px;
  
      iframe {
        position: absolute;
        width: 80%;
        height: 80%;
        z-index: -1;
        border-radius: 25px;
        top: 0;
        left: 0;
      }
    }
  
  }
  
  @media (max-width:600px) {
    #superso-ui {
      .superso-hme-video-container {
        transform: translateX(0%);
        iframe {
          width: 100%;
          height: 100%;
        }
      }
    }
  
  }