<div id="readyassist-ui">
    <div class="nl-home-container">
        <div class="nl-home-card layout-padding"> 
            <div class="nl-home-left-card nl-home-card-clm">
                <div class="heading">
                    <h1 class="fw-bolder fb1">24/7 onspot break-down support</h1>
                    <div class="my-5 flip_container">
                      <div class="flip">
                        <ul class="list">
                          <li>BATTERY JUMPSTART</li>
                          <li>MINOR REPAIR</li>
                          <li>KEY LOCK ASSISTANCE</li>
                          <li>PUNCTURE REPAIR</li>
                          <li>FUEL DELIVERY</li>
                          <li>FLAT TYRE FIXING</li>
                          <li>TOWING</li>
                          <li>ACCIDENT RECOVERY</li>
                        </ul>
                      </div>
                    </div>
                    <div class="my-5 subHeading"><p class="f24 fr sp">anytime anywhere in india</p></div>
                    <div class="default-btn-card">
                      <button class="nl-default-btn">Book Service <span class="angleright">&nbsp; →</span></button>
                    </div>
                  </div>
            </div>
            <div class="nl-home-left-card nl-home-card-clm">
              <div class="truck-card">
                <img src="./assets/images/nl_truck.png" alt="" srcset="">
              </div>
            </div>
        </div>
    </div>
</div>