.title-length {
    float: right;
}
.feature-image-card {
    margin-top: 22px;
}
.container-card {
    box-shadow: 0px 0px 3px 2px #c5c5c5;
    padding: 30px;
}
.feature-image-card label, .blog-video-card label{
    color: #76838d;
    font-size: 17px;
}
.requirements > ul li {
    font-size: 16px;
    line-height: 30px;
    color: #76838d;
    list-style: auto;
}
.blog-feature-portfolio-card, .blog-video-card, .feature-image-card {
    border: 2px solid #dbe0e4;
    padding: 10px 10px;
    border-radius: 8px;
    margin-top: 20px;
}
.post-btn-card {
    display: flex;
    justify-content: center;
}