<!-- New Menu -->


<div class="wrapper">
  <nav>
    <input type="checkbox" id="show-menu">
    <label for="show-menu" class="menu-icon"><i class="fas fa-bars" style="font-size: 23px;"></i></label>

    <div class="content">
      <div class="mobile-inline-logo-card">
        <div class="logo">
          <a href="#">
            <img clas="desktop-logo" src="./assets/images/new_ra_logo.png" width="350px" alt="" sizes="" srcset="">
          </a>
        </div>
        <div class="desktop-menu-card">
          <div class="menu-list">
            <ul class="links">
              <li><a href="#">Subscription</a></li>
              <li><a href="#">Blog</a></li>
              <li>
                <a href="#" class="desktop-link">About Us</a>
              </li>
              <li>
                <a href="#" class="desktop-link">Contact Us</a>

              </li>
              <li><a href="#">Grid</a></li>
              <li><a href="#">Sign in</a></li>
            </ul>
          </div>
          <div class="action-btn">
            <button class="get-started-btn">
              <a href="#">Subscribe Now</a>
            </button>
          </div>
        </div>
      </div>


    </div>


  </nav>
</div>