<div id="readyassist-ui">
    <div class="nl-subscriptionplans-bg">
        <div class="nl-subscriptionplans-container layout-padding">
            <div class="nl-subscriptionplans-card layout-px">
                <h1>Subscription</h1>
                <mat-tab-group [@.disabled]="true" mat-align-tabs="end">
                    <mat-tab class="twowheel-btn" label="Two Wheeler">
                        <div class="card1-container" style="min-height: 1px;" #carouselHolder>
                            <ng-container *ngIf="isCarouselFor1stTabVisible">
                                <owl-carousel-o [options]="subscriptionplans" class="all-subscription-plans">
                                    <ng-template carouselSlide>
                                        <div class="subscriptioncard-clm">
                                            <div class="subscriptioncard-clm-title">
                                                <p>30<span>minutes</span></p>
                                            </div>
                                            <div class="subscriptioncard-clm-desc">
                                                <div class="price">$49</div>
                                                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam harum
                                                    ullam voluptates adipisci sed. Obcaecati! </p><button
                                                    class="btn btn-primary text-center">Book now</button>
                                            </div>
                                        </div>
                                    </ng-template>
                                    <ng-template carouselSlide>
                                        <div class="subscriptioncard-clm active-slide">
                                            <div class="subscriptioncard-clm-title">
                                                <p>32<span>minutes</span></p>
                                            </div>
                                            <div class="subscriptioncard-clm-desc">
                                                <div class="price">$49</div>
                                                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam harum
                                                    ullam voluptates adipisci sed. Obcaecati! </p><button
                                                    class="btn btn-primary text-center">Book now</button>
                                            </div>
                                        </div>
                                    </ng-template>
                                    <ng-template carouselSlide>
                                        <div class="subscriptioncard-clm">
                                            <div class="subscriptioncard-clm-title">
                                                <p>30<span>minutes</span></p>
                                            </div>
                                            <div class="subscriptioncard-clm-desc">
                                                <div class="price">$49</div>
                                                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam harum
                                                    ullam voluptates adipisci sed. Obcaecati! </p><button
                                                    class="btn btn-primary text-center">Book now</button>
                                            </div>
                                        </div>
                                    </ng-template>
                                    <ng-template carouselSlide>
                                        <div class="subscriptioncard-clm">
                                            <div class="subscriptioncard-clm-title">
                                                <p>30<span>minutes</span></p>
                                            </div>
                                            <div class="subscriptioncard-clm-desc">
                                                <div class="price">$49</div>
                                                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam harum
                                                    ullam voluptates adipisci sed. Obcaecati! </p><button
                                                    class="btn btn-primary text-center">Book now</button>
                                            </div>
                                        </div>
                                    </ng-template>
                                    <ng-template carouselSlide>
                                        <div class="subscriptioncard-clm">
                                            <div class="subscriptioncard-clm-title">
                                                <p>30<span>minutes</span></p>
                                            </div>
                                            <div class="subscriptioncard-clm-desc">
                                                <div class="price">$49</div>
                                                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam harum
                                                    ullam voluptates adipisci sed. Obcaecati! </p><button
                                                    class="btn btn-primary text-center">Book now</button>
                                            </div>
                                        </div>
                                    </ng-template>
                                </owl-carousel-o>
                            </ng-container>
                        </div>
                    </mat-tab>
                    <mat-tab label="Four Wheeler">
                        content 2
                    </mat-tab>
                </mat-tab-group>
            </div>

        </div>
    </div>
</div>