@import '/src/custom_styles/variables.scss';
@import '/src/custom_styles/mixins.scss';
@import '/src/custom_styles/buttons.scss';

#superso-ui {
    .notioncreators-container {
        .notioncreators-portfolio-container {
            @media #{$bp-mobiles} {
                flex-direction: column;
            }

            @include flex_fw_ai_jc(wrap, inherit, initial)
        }

        h1 {
            @include main-headings;
            max-width: 610px;

            @media #{$bp-mobiles} {
                max-width: 100%;
                font-size: $Variable_readyassist_fs_24px;
            }
        }

        .portfolio-card {
            margin: $Variable_readyassist_marign_14px;
            flex-basis: 22%;
            @include readyassisy_card;
            transition: all 0.1s ease-in;

            @media #{$bp-mobiles} {
                padding: 5%;
            }

            .book-now-btn {
                @include btn-dark;
                min-width: 122px;
                min-height: 42px;
                color: $Variable_readyassist_fc_white;
            }

            hr.btn-seprator {
                margin: 22px 0;
            }

            img {
                border-radius: 8px;
            }

            &:hover {
                transition: all 0.1s ease-in;
                transform: translateY(-8px);
                box-shadow: 0 20px 40px -10px rgb(0 0 0 / 12%);
            }

            .portfolio-card-title {
                font-size: $Variable_readyassist_fs_21px;
                font-weight: $Variable_readyassist_fw_600;
                margin: 12px 0;
                @include flex_fw_ai_jc(nowrap, center, space-between);
                margin-top: 5%;
                .title {
                    a {
                        font-size: $Variable_readyassist_fs_20px;
                        color: $Variable_readyassist_fc_black;
                    }
                }
                i {
                    color: var(--info-icon);
                    font-size: $Variable_readyassist_fs_20px;
                }
            }

            .subscription-price-card {
                @include flex_fw_ai_jc(nowrap, center, space-between);

                .price {
                    .validation-time {
                        font-size: $Variable_readyassist_fs_16px;

                        .rupee-icon {
                            color: $Variable_readyassist_fc_black;
                            font-size: $Variable_readyassist_fs_14px;
                        }
                    }

                    .paln-amount {
                        font-size: $Variable_readyassist_fs_32px;
                        font-weight: $Variable_readyassist_fw_500;
                    }

                    .rupee-icon {
                        font-size: $Variable_readyassist_fs_16px;
                    }
                }
            }
        }
    }
}