#superso-ui {
    .notioncreators-container {
        .notioncreators-portfolio-container {
            display: flex;
            flex-wrap: wrap;
        }

        h1 {
            font-size: 2rem;
            max-width: 610px;

            line-height: 47px;
            font-weight: 600;
        }

        .portfolio-card {
            margin: 14px;
            flex-basis: 22%;
            box-shadow: 0 20px 40px -10px rgb(0 0 0 / 12%);
            background: #fff;
            padding: 1%;
            transition: all 0.1s ease-in;

            .book-now-btn {
                width: 120px;
                background: black;
                border: black;
                padding: 13px;
                border-radius: 50px;
                text-align: center;
                color: #fff;
                font-size: 1rem;
                // margin: 0 auto;
                // display: block;
            }

            hr.btn-seprator {
                margin: 22px 0;
            }

            img {
                border-radius: 8px;
            }

            &:hover {
                transition: all 0.1s ease-in;
                transform: translateY(-8px);
                box-shadow: 0 20px 40px -10px rgb(0 0 0 / 12%);
            }

            .portfolio-card-title {
                font-size: 20px;
                font-weight: 600;
                margin: 12px 0;
                display: flex;
                justify-content: space-between;
                margin-top: 5%;
                align-items: center;

                a {
                    color: #000;
                }

                i {
                    color: #c5c5c4;
                }
            }

            .subscription-price-card {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .price {
                    .validation-time {
                        font-size: 1rem;
                        .rupee-icon {
                            color: #000;
                            font-size: 0.8rem;
                        }
                    }
                    .paln-amount {
                        font-size: 2rem;
                        font-weight: 500;
                    }
                    .rupee-icon {
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}


@media (max-width:600px) {
    // #superso-ui {
    //     .notioncreators-container {

    //         h1 {
    //             font-size: 2rem;
    //             max-width: 100%;
    //             line-height: 47px;
    //             font-weight: 600;
    //         }
    //                   .portfolio-card {
    //             padding: 5%;
    //         }

    //     }
    // }

    #superso-ui {
        .notioncreators-container {
            .notioncreators-portfolio-container {
                flex-direction: column;
            }

            h1 {
                max-width: 100%;
                font-size: 1.4rem;
                line-height: 37px;
            }

            .portfolio-card {
                padding: 5%;

            }
        }
    }

}