<div id="superso-ui">
  <div class="notioncreators-container">
    <h1>
      Subscription Plans
    </h1>
    <div class="notioncreators-portfolio-container">
      <div class="portfolio-card">
        <div class="portfolio-card-img">
          <img src="./assets/images/ra_freedom.jpeg" width="100%" alt="" srcset="">
        </div>
        <div class="portfolio-card-title">
          <div class="title"><a href="#">4W Freedom Plan</a></div>
          <div class="info-modelpopup"><a href="#"><i class='bx bxs-info-circle'></i></a></div>
        </div>
        <hr class="btn-seprator">
        <div class="subscription-price-card">
          <div class="price">
            <p class="validation-time">validity 365 days</p>
            <p class="paln-amount"><span class="rupee-icon" style="color: #000;     margin-right: -8px;">
              <i class='bx bx-rupee' ></i>
            </span> 699/- </p>
          </div>
          <button type="button" class="book-now-btn">Book Now</button>
        </div>
      </div>
      <div class="portfolio-card">
        <div class="portfolio-card-img">
          <img src="./assets/images/ra_freedom.jpeg" width="100%" alt="" srcset="">
        </div>
        <div class="portfolio-card-title">
          <div class="title"><a href="#">Car Pro</a></div>
          <div class="info-modelpopup"><a href="#"><i class='bx bxs-info-circle'></i></a></div>
        </div>
        <hr class="btn-seprator">
        <div class="subscription-price-card">
          <div class="price">
            <p class="validation-time">validity 365 days</p>
            <p class="paln-amount"><span class="rupee-icon" style="color: #000;     margin-right: -8px;">
              <i class='bx bx-rupee' ></i>
            </span> 2749/- </p>
          </div>
          <button type="button" class="book-now-btn">Book Now</button>
        </div>
      </div>
      <div class="portfolio-card">
        <div class="portfolio-card-img">
          <img src="./assets/images/ra_freedom.jpeg" width="100%" alt="" srcset="">
        </div>
        <div class="portfolio-card-title">
          <div class="title"><a href="#">Car Basic</a></div>
          <div class="info-modelpopup"><a href="#"><i class='bx bxs-info-circle'></i></a></div>
        </div>
        <hr class="btn-seprator">
        <div class="subscription-price-card">
          <div class="price">
            <p class="validation-time">validity 365 days</p>
            <p class="paln-amount"><span class="rupee-icon" style="color: #000;     margin-right: -8px;">
              <i class='bx bx-rupee' ></i>
            </span> 1699/- </p>
          </div>
          <button type="button" class="book-now-btn">Book Now</button>
        </div>
      </div>
      <div class="portfolio-card">
        <div class="portfolio-card-img">
          <img src="./assets/images/ra_freedom.jpeg" width="100%" alt="" srcset="">
        </div>
        <div class="portfolio-card-title">
          <div class="title"><a href="#">2Wheeler Basic</a></div>
          <div class="info-modelpopup"><a href="#"><i class='bx bxs-info-circle'></i></a></div>
        </div>
        <hr class="btn-seprator">
        <div class="subscription-price-card">
          <div class="price">
            <p class="validation-time">validity 365 days</p>
            <p class="paln-amount"><span class="rupee-icon" style="color: #000;     margin-right: -8px;">
              <i class='bx bx-rupee' ></i>
            </span> 999/- </p>
          </div>
          <button type="button" class="book-now-btn">Book Now</button>
        </div>
      </div>
      <div class="portfolio-card">
        <div class="portfolio-card-img">
          <img src="./assets/images/ra_freedom.jpeg" width="100%" alt="" srcset="">
        </div>
        <div class="portfolio-card-title">
          <div class="title"><a href="#">4W Freedom Plan</a></div>
          <div class="info-modelpopup"><a href="#"><i class='bx bxs-info-circle'></i></a></div>
        </div>
        <hr class="btn-seprator">
        <div class="subscription-price-card">
          <div class="price">
            <p class="validation-time">validity 365 days</p>
            <p class="paln-amount"><span class="rupee-icon" style="color: #000;     margin-right: -8px;">
              <i class='bx bx-rupee' ></i>
            </span> 699/- </p>
          </div>
          <button type="button" class="book-now-btn">Book Now</button>
        </div>
      </div>
      <div class="portfolio-card">
        <div class="portfolio-card-img">
          <img src="./assets/images/ra_freedom.jpeg" width="100%" alt="" srcset="">
        </div>
        <div class="portfolio-card-title">
          <div class="title"><a href="#">4W Freedom Plan</a></div>
          <div class="info-modelpopup"><a href="#"><i class='bx bxs-info-circle'></i></a></div>
        </div>
        <hr class="btn-seprator">
        <div class="subscription-price-card">
          <div class="price">
            <p class="validation-time">validity 365 days</p>
            <p class="paln-amount"><span class="rupee-icon" style="color: #000;     margin-right: -8px;">
              <i class='bx bx-rupee' ></i>
            </span> 699/- </p>
          </div>
          <button type="button" class="book-now-btn">Book Now</button>
        </div>
      </div>
      <div class="portfolio-card">
        <div class="portfolio-card-img">
          <img src="./assets/images/ra_freedom.jpeg" width="100%" alt="" srcset="">
        </div>
        <div class="portfolio-card-title">
          <div class="title"><a href="#">4W Freedom Plan</a></div>
          <div class="info-modelpopup"><a href="#"><i class='bx bxs-info-circle'></i></a></div>
        </div>
        <hr class="btn-seprator">
        <div class="subscription-price-card">
          <div class="price">
            <p class="validation-time">validity 365 days</p>
            <p class="paln-amount"><span class="rupee-icon" style="color: #000;     margin-right: -8px;">
              <i class='bx bx-rupee' ></i>
            </span> 699/- </p>
          </div>
          <button type="button" class="book-now-btn">Book Now</button>
        </div>
      </div>






    </div>
  </div>
</div>
<hr>