<div id="readyassist-ui">
    <div class="nl-aboutus-container layout-padding">
        <div class="layout-px">
        <div class="nl-aboutus-card">
            <h1>One of the leading 24/7 roadside assistance service provider for bikes & cars across India</h1>
            <div class="nl-aboutus-description">
                <p>
                    ReadyAssist provides 24/7 on the spot breakdown support, flat tyre puncture repairs, fixes for
                    starting problems, battery jumpstart & towing service <span class="d-none d-lg-block d-md-block">to customers through our annual subscriptions
                    & on-demand. ReadyAssist services are available across any nook and corner of India to our customers
                    through the subscription model. Customers in cities like Bengaluru, Mumbai, Mysore, Gurugram, Delhi,
                    Pune, Chennai, Hyderabad, Jaipur, Ahmedabad, Indore, Patna, Kolkata, Bhuvaneshwar, Chandigarh,
                    Udaipur, Surat, Nagpur, Nasik, Vishakapatnam, Vijayawada, Coimbatore, Mangalore, Trivandrum, Kochi,
                    Calicut, Guwahati, Goa, Pondicherry & Lucknow can avail our services through an on-demand model as
                    well.</span></p>

                <p class="d-none d-lg-block d-md-block ">
                    ReadyAssist provides 24/7 onspot breakdown support & towing service anytime anywhere in India. Our
                    services includes Onspot flat tyre fixing for Tube & Tubeless puncture, spare tyre change, stepney
                    change, battery jumpstart, clutch cable replacements, acceleratory cable replacements, spark plug
                    replacement, onspot minor repairs, emergency fuel delivery, bike flatbed towing, car flatbed towing,
                    car safe-lift towing, car chain-lift towing. We support all the models for the brands like Audi,
                    BMW, Benz, Landrover, Prosche, Honda, Hyundai, Toyota, Mahindra, TATA, Jaguar, Nissan, Dustan,
                    Maruti Suzuki, Ford, Harley Davidson, Ducati, Kia, KTM, Hero, Bajaj, Hyosung, Yahama, Royal Enfield,
                    TVS, kawasaki, LML, Triumph, Indian Motorcycle, Aprilia, Suzuki Hayabuza, Intruder. Our services on
                    demand are available anywhere in cities like Bengaluru, Mumbai, Mysore, Gurugram, Delhi, Pune,
                    Chennai & Hyderabad including Koramangala, Indiranagar, Yelankha, Peenya, Rajajinagar, Malleshwaram,
                    CV Raman Nagar, Vasanth Nagar, MG Road, Ulsoor, Madiwala, Singasandara, Bomanahalli, Electronic
                    city, Bannerghatta Road, NICE Road, BTM, Jayanagar, JP Nagar, Banashankari, Banaswadi, HRBR Layout,
                    Kamanahalli, Kalyan Nagar, Nagawara, Manyata Tech Park, Hebbal, RT Nagar, EcoSpace, Belandur, CESNA
                    Tech Park, RMZ Infinity, Domlur, EGL (Embassy Golf Link), Bagmanae Tech Park, Audugodi, Uttarahalli,
                    Vijayanagar, Nagarbhavi, Sarjapur, Outring Road, Hosa Road, Whitefield, ITPL, Marthahalli, HAL, Old
                    Airport Road, Jeevan Bhima Nagar, Tippasandara, Mahadevpura, KR Puram, Yeshwantpur, HSR Layout,
                    Madhapur , Kondapur, Gachibowli , Jubilee Hills , Banjara Hills, Begumpet , Secunderabad, Ameerpet ,
                    Kukatpally , Hi Tech City, Mehdipatnam, Film Nagar, Ameerpet, Lakdikapul, Manikonda, Financial
                    district, Miyapur, Lingampalli / Lingampally, Hafeezpet, Old Bowenpally, Bala Nagar, Tarnaka,
                    Somajiguda, Attapur, Moosapet, Borabanda, Botanical garden.
                </p>
                <div class="learnmore">
                    <div class="learn-more-inner-card">
                        <a href="#" id="#aboutus" target="_blank">
                            More about us
                        </a><span style="color: #00000070;
                        font-size: 22px;
                        vertical-align: bottom;cursor: pointer;">→</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>