@import '/src/custom_styles/variables.scss';
@import '/src/custom_styles/mixins.scss';

// min-height: 470px;

#superso-ui {
    .recent-popular-news-container {
        h1 {
            @include main-headings;
            @media #{$bp-mobiles}{
                font-size: 1.375rem;
                line-height: 2.3rem;
            }
        }

        .recent-popnew-card {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;

            @media #{$bp-mobiles} {
                flex-direction: column;
            }

            .recent-popnew-clm {
                flex: 21%;
                margin: 18px 18px;
                // box-shadow: 1px -6px 40px -10px rgb(0 0 0 / 12%);
                // background: #fff;
                padding: 1%;

                @media #{$bp-mobiles} {
                    padding: 5%;
                    margin: 18px 0px;
                }

                span.title-seprator {
                    border: 1px solid #f5f6fa;
                    display: block;
                    margin-bottom: 1rem;
                }

                .popnew-clm-title {
                    min-height: 92px;
                    margin-top: 1rem;

                    a {
                        font-size: 1.16rem;
                        line-height: 1.6rem;
                        color: #000;
                        font-weight: 500;
                    }
                }


                .popimage-card {
                    img {
                        border-radius: 20px;
                        max-width: 100%;
                        height: 250px;
                        object-fit: cover;
                        
                        @media #{$bp-mobiles} {
                            height: auto;
                        }
                    }
                }

                .small-image-card {
                    position: relative;
                    min-height: 50px;

                    img {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 120px;
                        height: 30px;
                    }
                }
            }
        }
    }
}