<div id="superso-ui">
    <div class="recent-popular-news-container">
        <h1>Recent Popular News About ReadyAssist</h1>
        <div class="recent-popnew-card">
            <div class="recent-popnew-clm">
                <div class="popimage-card">
                    <img src="./assets/images/ra_news4.jpeg"  alt="" srcset="">
                </div>
                <div class="popnew-clm-title"> <a href="#">
                    Shell with ReadyAssist to set up quick lube change sites across India
                    </a></div>
                    <span class="title-seprator"></span>
                <div class="recent-popnew-pop-descr">
                    <p>New Delhi: Leading global lubricant supplier Shell on Monday joined hands with the Bengaluru-based 24x7 roadside assistance startup ReadyAssist to offer a convenient oil change service across the country.</p>
                </div>
                <div class="small-image-card">
                    <img src="./assets/images/ra_et-auto.png" alt="" srcset="">
                </div>
               </div>
               <div class="recent-popnew-clm">
                <div class="popimage-card">
                    <img src="./assets/images/ra_news1.jpeg"  alt="" srcset="">
                </div>
                <div class="popnew-clm-title"> <a href="#">
                    ReadyAssist Partners With DriveU To Offer Special Roadside Assistance Plan For Weekends
                    </a></div>
                    <span class="title-seprator"></span>
                <div class="recent-popnew-pop-descr">
                    <p>ReadyAssist has designed a unique first-of- its-kind Weekend RSA Subscription Plan that will provide 24/7 Roadside Assistance support PAN India for three days, for DriveU customers.</p>
                </div>
                <div class="small-image-card">
                    <img src="./assets/images/car-&-bike-logo.png" alt="" srcset="">
                </div>
              </div>
              <div class="recent-popnew-clm">
                <div class="popimage-card">
                    <img src="./assets/images/ra_flood.jpg" alt="" srcset="">
                </div>
                <div class="popnew-clm-title"> <a href="#">
                    Stuck In Monsoon? Here Are 5 Best Vehicle Breakdown Assistance available
                    </a></div>
                    <span class="title-seprator"></span>
                <div class="recent-popnew-pop-descr">
                    <p>Here are the five best vehicle breakdown assistance platforms that can help/rescue you during monsoon if you are stuck in the middle of the road:</p>
                </div>
                <div class="small-image-card">
                    <img src="./assets/images/bw-auto-world.png" alt="" srcset="">
                </div>
              </div>
              <div class="recent-popnew-clm">
                <div class="popimage-card">
                    <img src="./assets/images/ra_news2.jpeg"  alt="" srcset="">
                </div>
                <div class="popnew-clm-title"> <a href="#">
                    This on-demand vehicle service and repair startup registered Rs 4 Cr revenue in first year of operation
                    </a></div>
                    <span class="title-seprator"></span>
                <div class="recent-popnew-pop-descr">
                    <p>Here are the five best vehicle breakdown assistance platforms that can help/rescue you during monsoon if you are stuck in the middle of the road:</p>
                </div>
                <div class="small-image-card">
                    <img src="./assets/images/logo_yourstory.svg" alt="" srcset="">
                </div>
              </div>
        </div>
    </div>
</div>

