<div id="readyassist-ui">
    <div class="nl-blog-container layout-padding">
        <div class="nl-blog-card layout-px">
            <h1>Our <span>Blog</span></h1>
            <h3>Latest news about us on popular magazines.</h3>
            <div class="nl-blog-card-clm-container">
                <owl-carousel-o [options]="blog">
                    <ng-template carouselSlide>
                        <div class="blog-clm">
                            <div class="img-card">
                                <img src="./assets/images/blog_dummy.jpg" width="100%" alt="" srcset="">
                            </div>
                            <div class="img-caption">
                                <p>Shell with ReadyAssist to set up quick lube changes sites across india </p>
                            </div>
                            <div class="btn-logo">
                                <p>ET Auto.com</p>
                            </div>

                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="blog-clm">
                            <div class="img-card">
                                <img src="./assets/images/blog_dummy.jpg" width="100%" alt="" srcset="">
                            </div>
                            <div class="img-caption">
                                <p>Shell with ReadyAssist to set up quick lube changes sites across india </p>
                            </div>
                            <div class="btn-logo">
                                <p>ET Auto.com</p>
                            </div>

                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="blog-clm">
                            <div class="img-card">
                                <img src="./assets/images/blog_dummy.jpg" width="100%" alt="" srcset="">
                            </div>
                            <div class="img-caption">
                                <p>Shell with ReadyAssist to set up quick lube changes sites across india </p>
                            </div>
                            <div class="btn-logo">
                                <p>ET Auto.com</p>
                            </div>

                        </div>
                    </ng-template>
                </owl-carousel-o>
            </div>


        </div>
    </div>
</div>