<div id="readyassist-ui">
    <div class="buynowscreen-container layout-padding">
        <div class="buynowscreen-left">
            <h1>4W Freedom Plan</h1>
            <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore voluptatem eum beatae, veniam recusandae dolores saepe eius voluptatibus quis fugiat. voluptatem eum beatae.</p>
            <p class="tagline">24/7 Accident cover for your car</p>
            <ul>
                <li><i class='bx bx-check '></i> &nbsp;24/7 Support</li>
                <li><i class='bx bx-check'></i> &nbsp;PAN INDIA Service</li>
                <li><i class='bx bx-check'></i> &nbsp;Unlimited Incidents a Year</li>
                <li><i class='bx bx-check'></i> &nbsp;Accidental Towing</li>
            </ul>
            <div class="btm-price-section">
                <i class="fa fa-inr" aria-hidden="true"></i> &nbsp;<span class="price">699</span> <span
                    class="pyr">/year</span>
                    <p><a href="#">Click here for more info >></a></p>
            </div>
        </div>
        <div class="buynowscreen-right">
            <app-nl-subscriptionform></app-nl-subscriptionform>
        </div>
    </div>

</div>