<div id="readyassist-ui">
    <div class="nl-profession-container layout-padding">
        <div class="layout-px">
            <h1>Testimonial</h1>
            <owl-carousel-o [options]="profession">
                <!-- row 1 -->

                <ng-template carouselSlide>
                    <div class="nl-profession-card">

                        <div class="nl-profession-card-clm clm-left">
                            <img src="./assets/images/nl_prof1.png" width="100%" alt="" srcset="">
                            <div class="author-card">
                                <p class="designation">Software Engineer</p>
                                <p class="employee_name">Praveen Chackravarthy</p>
                            </div>
                        </div>
                        <div class="nl-profession-card-clm clm-right">
                            <div class="nl-profession-card-descr">
                                <p>The definition of business is an occupation or trade and the purchase and sale of
                                    products or
                                    services to make a profit. An example of business is farming. An example of business
                                    is a house
                                    sale. noun. An organized entity whose purpose is to sell services or goods to
                                    customers in order
                                    to earn a profit for the owners.</p>
                                <p class="author-name">-Nagoo</p>
                            </div>
                        </div>
                    </div>
                </ng-template>

                <!-- row 2 -->
                <ng-template carouselSlide>
                    <div class="nl-profession-card">

                        <div class="nl-profession-card-clm clm-left">
                            <img src="./assets/images/nl_prof1.png" width="100%" alt="" srcset="">
                            <div class="author-card">
                                <p class="designation">Software Engineer</p>
                                <p class="employee_name">Praveen Chackravarthy</p>
                            </div>
                        </div>
                        <div class="nl-profession-card-clm clm-right">
                            <div class="nl-profession-card-descr">
                                <p>The definition of business is an occupation or trade and the purchase and sale of
                                    products or
                                    services to make a profit. An example of business is farming. An example of business
                                    is a house
                                    sale. noun. An organized entity whose purpose is to sell services or goods to
                                    customers in order
                                    to earn a profit for the owners.</p>
                                <p class="author-name">-Nagoo</p>
                            </div>
                        </div>
                    </div>
                </ng-template>

                <!-- row invlid -->
                <!-- <ng-template carouselSlide> -->
                <!-- <div class="nl-profession-card nl-prof-clm2 layout-px">
            <div class="nl-profession-card-clm clm-left">
                <img src="./assets/images/nl_prof1.png" width="100%" alt="" srcset="">
                <div class="author-card">
                    <p class="designation">Software Engineer</p>
                <p class="employee_name">Praveen Chackravarthy</p>
                </div>
            </div>
            <div class="nl-profession-card-clm clm-right">
                <div class="nl-profession-card-descr">
                    <p>The definition of business is an occupation or trade and the purchase and sale of products or
                        services to make a profit. An example of business is farming. An example of business is a house
                        sale. noun. An organized entity whose purpose is to sell services or goods to customers in order
                        to earn a profit for the owners.</p>
                    <p class="author-name">-Nagoo</p>
                </div>
            </div>
        </div> -->
                <!-- </ng-template> -->

                <!-- row 3 -->
                <ng-template carouselSlide>
                    <div class="nl-profession-card">
                        <div class="nl-profession-card-clm clm-left">
                            <img src="./assets/images/nl_prof1.png" width="100%" alt="" srcset="">
                            <div class="author-card">
                                <p class="designation">Software Engineer</p>
                                <p class="employee_name">Praveen Chackravarthy</p>
                            </div>
                        </div>
                        <div class="nl-profession-card-clm clm-right">
                            <div class="nl-profession-card-descr">
                                <p>The definition of business is an occupation or trade and the purchase and sale of
                                    products or
                                    services to make a profit. An example of business is farming. An example of business
                                    is a house
                                    sale. noun. An organized entity whose purpose is to sell services or goods to
                                    customers in order
                                    to earn a profit for the owners.</p>
                                <p class="author-name">-Nagoo</p>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>