<div id="readyassist-ui">
    <div class="testimonilas-container layout-padding">
        <div class="layout-px">
        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <div class="main-title">
                    <h1>Leading to Future.</h1>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12 feature-description">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora excepturi veritatis debitis doloremque, veniam nesciunt.
                </p>
            </div> 
        </div>

        <div class="testimonial-card">
            <!-- owl carousel starts -->
            <owl-carousel-o [options]="testimonials">
                <ng-template carouselSlide>
                    <!-- Slide 1 -->
                    <div class="row">
                        <div class="col-lg-6 col-sm-12 testimonial-subcard">
                            <div class="bluecard">
                                <div class="avatar">
                                    <img src="https://i.imgur.com/HjKTNkG.jpg" width="250px" alt="" srcset="">
                                </div>
                                <div class="card-decription">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis, possimus tenetur. Accusamus quis sed, impedit id eaque autem cumque minima tempore laboriosam architecto consequuntur consectetur quas quam fugiat, temporibus distinctio!</p>
                                    <div class="avatar-position">
                                        <p class="name">Will Smith</p>
                                        <p class="occupation">Movie Actor</p>
                                    </div>
                                </div>

                            </div>
                            
                        </div>
                        <div class="col-lg-6 col-sm-12 testimonial-subcard">
                            <div class="bluecard">
                                <div class="avatar">
                                    <img src="https://i.imgur.com/HjKTNkG.jpg" width="250px" alt="" srcset="">
                                </div>
                                <div class="card-decription">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis, possimus tenetur. Accusamus quis sed, impedit id eaque autem cumque minima tempore laboriosam architecto consequuntur consectetur quas quam fugiat, temporibus distinctio!</p>
                                    <div class="avatar-position">
                                        <p class="name">Will Smith</p>
                                        <p class="occupation">Movie Actor</p>
                                    </div>
                                </div>

                            </div>
                            
                        </div>
                    </div>
                </ng-template>  
                <ng-template carouselSlide>
                    <!-- Slide 2 -->
                    <div class="row">
                        <div class="col-lg-6 col-sm-12 testimonial-subcard">
                            <div class="bluecard">
                                <div class="avatar">
                                    <img src="https://i.imgur.com/HjKTNkG.jpg" width="250px" alt="" srcset="">
                                </div>
                                <div class="card-decription">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis, possimus tenetur. Accusamus quis sed, impedit id eaque autem cumque minima tempore laboriosam architecto consequuntur consectetur quas quam fugiat, temporibus distinctio!</p>
                                    <div class="avatar-position">
                                        <p class="name">Will Smith</p>
                                        <p class="occupation">Movie Actor</p>
                                    </div>
                                </div>

                            </div>
                            
                        </div>
                        <div class="col-lg-6 col-sm-12 testimonial-subcard">
                            <div class="bluecard">
                                <div class="avatar">
                                    <img src="https://i.imgur.com/HjKTNkG.jpg" width="250px" alt="" srcset="">
                                </div>
                                <div class="card-decription">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis, possimus tenetur. Accusamus quis sed, impedit id eaque autem cumque minima tempore laboriosam architecto consequuntur consectetur quas quam fugiat, temporibus distinctio!</p>
                                    <div class="avatar-position">
                                        <p class="name">Will Smith</p>
                                        <p class="occupation">Movie Actor</p>
                                    </div>
                                </div>

                            </div>
                            
                        </div>
                    </div>
                </ng-template>  
                <!-- <ng-template carouselSlide>Slide 3</ng-template>   -->
              </owl-carousel-o>
            <!-- owl carousel ends -->
        </div>
    </div>
    </div>  

    <!-- Client Scrolling -->
    <div>
        <app-nl-collabratedwith></app-nl-collabratedwith>
    </div>
    <!-- Client Scrolling
     -->
</div>

