<div id="readyassist-ui">
    <div class="nl-ourservices-container layout-padding">

        <div class="nl-ourservices-card layout-px">
            <h1>Our <span>Services</span></h1>
            <p>anytime anywhere in india</p>
            <div class="nl-ourservices-list-card">
                <div class="nl-ourservices-clm">
                    <a href="#">
                        <div class="nl-services-list-clm">
                            <div class="nl-services-img-card">
                                <img src="./assets/images/nl_ityre.svg" width="100px" alt="" srcset="">
                                <div class="services-title"><a href="#" class="">Flat tyre fixing</a></div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="nl-ourservices-clm">
                    <a href="#">
                        <div class="nl-services-list-clm">
                            <div class="nl-services-img-card">
                                <img src="./assets/images/nl_battery.svg" width="100px" alt="" srcset="">
                                <div class="services-title"><a href="#" class="">Battery jumpStart</a></div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="nl-ourservices-clm">
                    <a href="#">
                        <div class="nl-services-list-clm">
                            <div class="nl-services-img-card">
                                <img src="./assets/images/nl_fuel.svg" width="100px" alt="" srcset="">
                                <div class="services-title"><a href="#" class="">Emergency fuel</a></div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="nl-ourservices-clm">
                    <a href="#">
                        <div class="nl-services-list-clm">
                            <div class="nl-services-img-card">
                                <img src="./assets/images/nl_key.svg" width="100px" alt="" srcset="">
                                <div class="services-title"><a href="#" class="">Key lock assistance</a></div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="nl-ourservices-clm">
                    <a href="#">
                        <div class="nl-services-list-clm">
                            <div class="nl-services-img-card">
                                <img src="./assets/images/nl_towing.svg" width="100px" alt="" srcset="">
                                <div class="services-title"><a href="#" class="">Towing service</a></div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="nl-ourservices-clm">
                    <a href="#">
                        <div class="nl-services-list-clm">
                            <div class="nl-services-img-card">
                                <img src="./assets/images/nl_repair.svg" width="100px" alt="" srcset="">
                                <div class="services-title"><a href="#" class="">Starting problem</a></div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="service-description">
                <p>   Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt commodi harum perspiciatis voluptatum quia neque ex nemo itaque architecto consequatur a delectus, corporis, corrupti natus esse incidunt illum tempora dolor voluptas nostrum? In nemo iste cupiditate, voluptatum est velit eum?</p>
               </div>
            
        </div>
        
    </div>
</div>