
<div class="main-container layout-padding">
   
    <div class="default-card layout-px">
        <h1>Default Header</h1>
    <p>default-component works!</p>
    <div class="child-two">
        <h1>Default Header</h1>
        <p>default-component works!</p>  
        <span>variable prop</span> 
    </div>

    <div>
        <div>Some tags before</div>
<owl-carousel-o [options]="default">
  <ng-template carouselSlide>Slide 1</ng-template>  
  <ng-template carouselSlide>Slide 2</ng-template>  
  <ng-template carouselSlide>Slide 3</ng-template>  
  <ng-template carouselSlide>Slide 3</ng-template>  
</owl-carousel-o>
<div>Some tags after</div>
    
    </div>
</div>


<div class="row">
    <div class="col-lg-6 col-sm-12">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis commodi blanditiis in nobis quasi voluptates temporibus culpa a sed? Placeat assumenda recusandae fugiat quos possimus minus nobis tempore harum culpa?
    </div>
    <div class="col-lg-6 col-sm-12">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis commodi blanditiis in nobis quasi voluptates temporibus culpa a sed? Placeat assumenda recusandae fugiat quos possimus minus nobis tempore harum culpa?
    </div>
</div>





<!-- http://localhost:4200/default -->
<!-- for vertical scroll animation landing page -->

<!-- https://codepen.io/tutsplus/pen/qpJYaK -->


<!-- https://www.npmjs.com/package/json-server -->