<div id="readyassist-ui">
    <div class="footer-bg">
        <div class="footer-wrapper">
            <div class="nl-mainfooter-container layout-padding">
                <div class="nl-mainfooter-card layout-px">
                    <div class="footer-clm-container">
                        <div class="footer-container-clm">
                            
                            <div class="footer-clm-title">
                                <img src="./assets/images/nl_ra_logo.png" style="margin-left: -8px;" width="280px"
                                    alt="" srcset="">
                            </div>
                            <div class="ftr-col-one">
                            <div class="footer-clm-description">
                                <p>24/7 roadside assistance service provider for bikes & cars across india</p>
                            </div>
                            <div class="footer-links">
                                <ul>
                                    <li>
                                        <a href="https://www.linkedin.com/company/readyassist/mycompany/"
                                            target="_blank">
                                            <img src="./assets/images/nl-linkedin.svg" width="30px" alt="" srcset="">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://api.whatsapp.com/send?phone=918197852852" target="_blank">
                                            <img src="./assets/images/nl-whatsapp.svg" width="30px" alt="" srcset="">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.facebook.com/readyassist/" target="_blank">
                                            <img src="./assets/images/nl-facebook.svg" width="30px" alt="" srcset="">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://instagram.com/readyassist/" target="_blank">
                                            <img src="./assets/images/nl-Instagram.svg" width="30px" alt="" srcset="">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.youtube.com/channel/UC59ULnyZcU9hmO63uu6xFrA"
                                            target="_blank">
                                            <img src="./assets/images/nl-youtube.svg" width="30px" alt="" srcset="">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="get-app-section">
                                <h3 style="font-size: 13px;">GET APP ON :
                                </h3>
                                <p>
                                    <img src="./assets/images/google-play.png" alt="" srcset="">
                                </p>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="footer-clm-container">
                        <div class="footer-container-clm">
                            <div class="footer-clm-title">
                                <h3>Quick Links</h3>
                                <div class="quicklinks">
                                    <ul>
                                        <li><a href="#">My Subscription</a></li>
                                        <li><a href="#">Activate Subscription</a></li>
                                        <li><a href="#">About Us</a></li>
                                        <li><a href="#">Contact Us</a></li>
                                        <li><a href="#">Jobs</a></li>
                                        <li><a href="">Privacy Policy</a></li>
                                        <li><a href="">Terms & Conditions</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="footer-clm-container">
                        <div class="footer-container-clm">
                            <div class="footer-clm-title">
                                <h3>Our Services</h3>
                                <div class="quicklinks">
                                    <ul>
                                        <li><a href="#">Puncture Repair</a></li>
                                        <li><a href="#">Battery Jumpstart</a></li>
                                        <li><a href="#">On-spot Minor Repair</a></li>
                                        <li><a href="#">Towing Service</a></li>
                                        <li><a href="#">Emergency Fuel</a></li>
                                        <li><a href="">Key-lock Assistance</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="footer-clm-container">
                        <div class="footer-container-clm">
                            <div class="footer-clm-title">
                                <h3>Contact Address</h3>
                                <div class="address-card">
                                    <h4 style="    color: #fff;
                                    font-size: 15px;">ReadyAssist - 24hrs Vehicle Care</h4>
                                    <address>
                                        #16, 17th Cross, 9th Main Rd,
                                        Sector 7, HSR Layout
                                        Bangalore-560102
                                        Karnataka, India
                                    </address>
                                    <div class="email">
                                        <p><a href="mailto:hello@readyassist.in">hello@readyassist.in</a><span  class="email-seprator" style="color: #fff;"></span> <a href="tel:080-4680 9090">080-4680 9090</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>