<!-- <div id="readyassist-ui">
  <div class="footer-bg">
    <div class="footer-wrapper">
      <div class="nl-mainfooter-container layout-padding">
        <div class="nl-mainfooter-card layout-px">
          <div class="footer-clm-container">
            <div class="footer-container-clm">

              <div class="footer-clm-title">
                <img src="./assets/images/nl_ra_logo.png" style="margin-left: -8px;" width="280px" alt="" srcset="">
              </div>
              <div class="ftr-col-one">
                <div class="footer-clm-description">
                  <p>24/7 roadside assistance service provider for bikes & cars across india</p>
                </div>
                <div class="footer-links">
                  <ul>
                    <li>
                      <a href="https://www.linkedin.com/company/readyassist/mycompany/" target="_blank">
                        <img src="./assets/images/nl-linkedin.svg" width="30px" alt="" srcset="">
                      </a>
                    </li>
                    <li>
                      <a href="https://api.whatsapp.com/send?phone=918197852852" target="_blank">
                        <img src="./assets/images/nl-whatsapp.svg" width="30px" alt="" srcset="">
                      </a>
                    </li>
                    <li>
                      <a href="https://www.facebook.com/readyassist/" target="_blank">
                        <img src="./assets/images/nl-facebook.svg" width="30px" alt="" srcset="">
                      </a>
                    </li>
                    <li>
                      <a href="https://instagram.com/readyassist/" target="_blank">
                        <img src="./assets/images/nl-Instagram.svg" width="30px" alt="" srcset="">
                      </a>
                    </li>
                    <li>
                      <a href="https://www.youtube.com/channel/UC59ULnyZcU9hmO63uu6xFrA" target="_blank">
                        <img src="./assets/images/nl-youtube.svg" width="30px" alt="" srcset="">
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="get-app-section">
                  <h3 style="font-size: 13px;">GET APP ON :
                  </h3>
                  <p>
                    <img src="./assets/images/google-play.png" alt="" srcset="">
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="footer-clm-container">
            <div class="footer-container-clm">
              <div class="footer-clm-title">
                <h3>Quick Links</h3>
                <div class="quicklinks">
                  <ul>
                    <li><a href="#">My Subscription</a></li>
                    <li><a href="#">Activate Subscription</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Jobs</a></li>
                    <li><a href="">Privacy Policy</a></li>
                    <li><a href="">Terms & Conditions</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="footer-clm-container">
            <div class="footer-container-clm">
              <div class="footer-clm-title">
                <h3>Our Services</h3>
                <div class="quicklinks">
                  <ul>
                    <li><a href="#">Puncture Repair</a></li>
                    <li><a href="#">Battery Jumpstart</a></li>
                    <li><a href="#">On-spot Minor Repair</a></li>
                    <li><a href="#">Towing Service</a></li>
                    <li><a href="#">Emergency Fuel</a></li>
                    <li><a href="">Key-lock Assistance</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="footer-clm-container">
            <div class="footer-container-clm">
              <div class="footer-clm-title">
                <h3>Contact Address</h3>
                <div class="address-card">
                  <h4 style="    color: #fff; font-size: 15px;">ReadyAssist - 24hrs Vehicle Care</h4>
                  <address>
                    #16, 17th Cross, 9th Main Rd,
                    Sector 7, HSR Layout
                    Bangalore-560102
                    Karnataka, India
                  </address>
                  <div class="email">
                    <p><a href="mailto:hello@readyassist.in">hello@readyassist.in</a><span class="email-seprator"
                        style="color: #fff;"></span> <a href="tel:080-4680 9090">080-4680 9090</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div> -->




<div class="footer-bg">

  <div class="container-fluid px-4 px-sm-5 px-md-5 px-xxl-5 pt-5 pb-5 g-0">

    <div class="row px-0 px-sm-1 px-md-3 px-xxl-5 mx-0 mx-xxl-4 pt-5 g-0  justify-content-around">

      <div class="col-12 col-sm-6 col-md-3 pt-0 pt-sm-0 pt-md-3 pt-lg-1 g-0">

        <div class="col-12 pb-5">
          <img class="logoimg" src="./assets/images/nl_ra_logo.png" style="margin-left: -8px;" width="280px" alt=""
            srcset="">
        </div>

        <div class="col-12 pb-4 pb-md-3 fontsegment1">
          <p>24/7 roadside assistance service provider for bikes & cars across india</p>
        </div>

        <div class="col-12 pb-5">

          <a class="px-1" href="https://www.linkedin.com/company/readyassist/mycompany/" target="_blank">
            <img src="./assets/images/nl-linkedin.svg" width="30px" alt="" srcset="">
          </a>

          <a class="px-1" href="https://api.whatsapp.com/send?phone=918197852852" target="_blank">
            <img src="./assets/images/nl-whatsapp.svg" width="30px" alt="" srcset="">
          </a>

          <a class="px-1" href="https://www.facebook.com/readyassist/" target="_blank">
            <img src="./assets/images/nl-facebook.svg" width="30px" alt="" srcset="">
          </a>

          <a class="px-1" href="https://instagram.com/readyassist/" target="_blank">
            <img src="./assets/images/nl-Instagram.svg" width="30px" alt="" srcset="">
          </a>

          <a class="px-1" href="https://www.youtube.com/channel/UC59ULnyZcU9hmO63uu6xFrA" target="_blank">
            <img src="./assets/images/nl-youtube.svg" width="30px" alt="" srcset="">
          </a>

        </div>

        <div class="row">

        

        <div class="col-12 d-none d-sm-flex d-md-block d-lg-flex ">
          <div class="col-4 col-md-8  col-lg-5 col-xxl-3">
            <h3 style="font-size: 13px;">GET APP ON :
            </h3>
          </div>

          <div class="col-6 col-md-6">
            <img class="gplay" src="./assets/images/google-play.png" alt="" srcset="">
          </div>

        </div>

      </div>

      </div>



      <div class="col-12 col-sm-6 col-md-3 col-xl-3 col-xxl-2 pt-3 px-0 px-sm-5 px-md-4">

        <div class="col-12 pt-5 pt-sm-0 pb-4 pb-md-5">
          <h3 class="head">Quick Links</h3>
        </div>

        <div class="col-12">
          <ul>
            <li><a href="#">My Subscription</a></li>
            <li><a href="#">Activate Subscription</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Jobs</a></li>
            <li><a href="">Privacy Policy</a></li>
            <li><a href="">Terms & Conditions</a></li>
          </ul>
        </div>

      </div>


      <div class="col-12 col-sm-6 col-md-3 col-xl-2 col-xxl-2  pt-3">
        <div class="col-12 pt-5 pt-md-0 pt-lg-0">
          <h3 class="head pb-4 pb-md-5">Our Services</h3>
        </div>

        <div class="col-12">
          <ul>
            <li><a href="#">Puncture Repair</a></li>
            <li><a href="#">Battery Jumpstart</a></li>
            <li><a href="#">On-spot Minor Repair</a></li>
            <li><a href="#">Towing Service</a></li>
            <li><a href="#">Emergency Fuel</a></li>
            <li><a href="">Key-lock Assistance</a></li>
          </ul>
        </div>

      </div>
      <div class="col-12 col-sm-6 col-md-3 pt-3 px-0 px-sm-5 px-md-0">
        <div class="col-12 pt-5 pt-md-0 pt-lg-0">
          <h3 class="head pb-4 pb-md-5 ">Contact Address</h3>
        </div>
        <div class="col-12">
          <h4 style="color: #fff; font-size: 15px;">ReadyAssist - 24hrs Vehicle Care</h4>
        </div>
        <div class="col-12">
          <address>
            #16, 17th Cross, 9th Main Rd,
            Sector 7, HSR Layout
            Bangalore-560102
            Karnataka, India
          </address>
        </div>
        <div class="col-12 email">
          <p><a href="mailto:hello@readyassist.in">hello@readyassist.in</a><span class="email-seprator"
              style="color: #fff;"></span> <a href="tel:080-4680 9090">080-4680 9090</a></p>
        </div>

      </div>
    </div>
  </div>
</div>