<div id="readyassist">
    <div class="container">
        <div class="subscribeinformation-container">
            <div class="row subscribeinformation-card">
                <div class="col-lg-6">
                    <h1>
                        Subscribe for the more infomation
                    </h1>
                    <p>Drop us your mobile number to get subscription purchase link</p>
                </div>
                <div class="col-lg-6">
                    <div class="mobile-number">
                        <form action="">
                            <!-- <input type="number" class="form-control" name="" placeholder="Mobile no" id=""/> -->

                            <div class="input-group">
                                <input type="number" placeholder="Enter your mobile no" class="form-control">
                                <div class="input-group-append">
                                    <button class="sendemail"> <span class="input-group-text">
                                            <i class="fa fa-arrow-right" aria-hidden="true"></i></span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- 4 cards -->
        <div class="benefits-container">
            <div class="benefits-clm">
                <div class="benefits-clm-card">
                    <i class="fa-solid fa-icon fa-icons fa-user-group"></i>
                </div>
                <div class="benefits-count">
                    <ul>
                        <li><i class='bx bx-check'></i>&nbsp;24/7 Support</li>
                        <li><i class='bx bx-check'></i>&nbsp;PAN INDIA Service</li>
                        <li><i class='bx bx-check'></i>&nbsp;5 Incidents a Year</li>
                        <li><i class='bx bx-check'></i>&nbsp;Battery Jumpstart</li>
                        <li><i class='bx bx-check'></i>&nbsp;On-Spot Minor Repairs</li>
                    </ul>
                </div>
            </div>

            <div class="benefits-clm">
                <div class="benefits-clm-card">
                    <i class="fa-solid fa-icons fa-map-pin"></i>
                </div>
                <div class="benefits-count">
                    <ul>
                        <li><i class='bx bx-check'></i>&nbsp;24/7 Support</li>
                        <li><i class='bx bx-check'></i>&nbsp;PAN INDIA Service</li>
                        <li><i class='bx bx-check'></i>&nbsp;5 Incidents a Year</li>
                        <li><i class='bx bx-check'></i>&nbsp;Battery Jumpstart</li>
                        <li><i class='bx bx-check'></i>&nbsp;On-Spot Minor Repairs</li>
                    </ul>
                </div>
            </div>

            <div class="benefits-clm">
                <div class="benefits-clm-card">
                    <i class="fa-solid fa-icons fa-gear"></i>
                </div>
                <div class="benefits-count">
                    <ul>
                        <li><i class='bx bx-check'></i>&nbsp;24/7 Support</li>
                        <li><i class='bx bx-check'></i>&nbsp;PAN INDIA Service</li>
                        <li><i class='bx bx-check'></i>&nbsp;5 Incidents a Year</li>
                        <li><i class='bx bx-check'></i>&nbsp;Battery Jumpstart</li>
                        <li><i class='bx bx-check'></i>&nbsp;On-Spot Minor Repairs</li>
                    </ul>
                </div>
            </div>

            <div class="benefits-clm">
                <div class="benefits-clm-card">
                    <i class="fa-solid fa-heart"></i>
                </div>
                <div class="benefits-count">
                    <ul>
                        <li><i class='bx bx-check'></i>&nbsp;24/7 Support</li>
                        <li><i class='bx bx-check'></i>&nbsp;PAN INDIA Service</li>
                        <li><i class='bx bx-check'></i>&nbsp;5 Incidents a Year</li>
                        <li><i class='bx bx-check'></i>&nbsp;Battery Jumpstart</li>
                        <li><i class='bx bx-check'></i>&nbsp;On-Spot Minor Repairs</li>
                    </ul>
                </div>
            </div>

        </div>

    </div>
</div>