#superso-ui {
    .getstarted-firstsite-container {
        background: #f5f6fa;
        text-align: center;
        border-radius: 2%;
        margin: 9% 0;

        .main-title {
            text-align: center;
            padding-top: 7%;
            font-weight: 600;
            font-size: 2.3rem;
            max-width: 398px;
            margin: 0 auto;
            line-height: 54px;
            margin-bottom: 2%;
        }

        p {
            font-size: 22px !important;
            color: #ffc158;
            font-weight: 600;
        }

        .btn {
            margin: 60px 0 32px;

            a {
                background: #000;
                border-radius: 30px;
                padding: 16px 32px 17px;
                font-size: 18px;
                color: #fff;
            }


        }

        span {
            color: #7f7f7f;
            font-weight: 400;
            font-size: 15px;
        }

        .btm-capture {
            padding-top: 5%;
        }
    }
}


@media (max-width:600px) {
    #superso-ui {
        .getstarted-firstsite-container {
            .main-title {
                font-size: 2rem;
                max-width: 100%;
                line-height: 46px;
                margin-bottom: 5%;
            }
        }
    }
}