<div class="banner-animation-container">
  <div class="anim-card">
  <p style="font-size: 3.5rem;
  font-weight: 600;">for</p>
  </div>
  <b>
    <div class="banner-animation-container-inner">
      Battery Jumpstart<br /> 
      Minor Repair<br />
      Key Lock Assistance<br />
      Puncture Repair<br />
      Fuel Delivery<br />
      Flat Tyre Fixing<br />
      Towing<br />
      Accident Recovery<br />
      </div>
  </b>
    </div>
    <div class="banner-tagline">
      <p>our services any time, any where in india</p>
    </div>



