<div id="superso-ui">
    <div class="community-temp-container">
        <h1 class="community-temp-title">
            Hit the ground running with our community templates.
        </h1>
        <div class="community-temp-portfolio-container" data-aos="zoom-in-down" data-aos-duration="18000">
                <mat-card class="portfolio-card">
                    <mat-card-content>
                        <img src="./assets/images/optimize.avif" width="100%" alt="" srcset="">
                        <mat-card-title> <a href="#">Hyper</a></mat-card-title>
                        <mat-card-title> <a href="#" class="grey-font">Link in Bio</a></mat-card-title>
                      </mat-card-content>
                  </mat-card>
                  <mat-card class="portfolio-card">
                    <mat-card-content>
                        <img src="./assets/images/clubhouse.avif" width="100%" alt="" srcset="">
                        <mat-card-title> <a href="#">Hyper</a></mat-card-title>
                        <mat-card-title> <a href="#" class="grey-font">Link in Bio</a></mat-card-title> 
                        </mat-card-content>
                  </mat-card>
                  <mat-card class="portfolio-card">
                    <mat-card-content>
                        <img src="./assets/images/rainbow.avif" width="100%" alt="" srcset="">
                        <mat-card-title> <a href="#">Hyper</a></mat-card-title>
                        <mat-card-title> <a href="#" class="grey-font">Link in Bio</a></mat-card-title>
                     </mat-card-content>
                  </mat-card>
                  <mat-card class="portfolio-card">
                    <mat-card-content>
                        <img src="./assets/images/sidehustle.avif" width="100%" alt="" srcset="">
                        <mat-card-title> <a href="#">Hyper</a></mat-card-title>
                        <mat-card-title> <a href="#" class="grey-font">Link in Bio</a></mat-card-title>
                    </mat-card-content>
                  </mat-card>
                  <mat-card class="portfolio-card">
                    <mat-card-content>
                        <img src="./assets/images/multidisci.avif" width="100%" alt="" srcset="">
                        <mat-card-title> <a href="#">Hyper</a></mat-card-title>
                        <mat-card-title> <a href="#" class="grey-font">Link in Bio</a></mat-card-title>
                    </mat-card-content>
                  </mat-card>
                  <mat-card class="portfolio-card">
                    <mat-card-content>
                        <img src="./assets/images/michael.avif" width="100%" alt="" srcset="">
                        <mat-card-title> <a href="#">Hyper</a></mat-card-title>
                        <mat-card-title> <a href="#" class="grey-font">Link in Bio</a></mat-card-title>
                    </mat-card-content>
                  </mat-card>
                  <mat-card class="portfolio-card">
                    <mat-card-content>
                        <img src="./assets/images/spline.avif" width="100%" alt="" srcset="">
                        <mat-card-title> <a href="#">Hyper</a></mat-card-title>
                        <mat-card-title> <a href="#" class="grey-font">Link in Bio</a></mat-card-title>
                    </mat-card-content>
                  </mat-card>
                  <mat-card class="portfolio-card">
                    <mat-card-content>
                        <img class="arrow_viewmore" src="./assets/images/target_blank.svg" width="100%" alt="" srcset="">
                        <mat-card-title> <a href="#">Hyper</a></mat-card-title>
                        <mat-card-title> <a href="#" class="grey-font">Link in Bio</a></mat-card-title>
                    </mat-card-content>
                  </mat-card>
        </div>
    </div>
    <hr/>
</div>