<div id="superso-ui">
    <div class="community-temp-container">
        <h1 class="community-temp-title">
            Hit the ground running with our community templates.
        </h1>
        <div class="community-temp-portfolio-container">
                <mat-card class="portfolio-card">
                    <mat-card-content>
                        <img src="./assets/images/hyper.avif" width="100%" alt="" srcset="">
                        <mat-card-title> <a href="#">Hyper</a></mat-card-title>
                        <mat-card-title> <a href="#" class="grey-font">Link in Bio</a></mat-card-title>
                      </mat-card-content>
                  </mat-card>
                  <mat-card class="portfolio-card">
                    <mat-card-content>
                        <img src="./assets/images/ora_blog.avif" width="100%" alt="" srcset="">
                        <mat-card-title> <a href="#">Ora</a></mat-card-title>
                        <mat-card-title> <a href="#" class="grey-font">Blog</a></mat-card-title>
                     </mat-card-content>
                  </mat-card>
                  <mat-card class="portfolio-card">
                    <mat-card-content>
                        <img src="./assets/images/portfolio.avif" width="100%" alt="" srcset="">
                        <mat-card-title> <a href="#">owl</a></mat-card-title>
                        <mat-card-title> <a href="#" class="grey-font">portfolio</a></mat-card-title>
                    </mat-card-content>
                  </mat-card>
                  <mat-card class="portfolio-card">
                    <mat-card-content>
                        <img src="./assets/images/landingpage.avif" width="100%" alt="" srcset="">
                        <mat-card-title> <a href="#">Lift</a></mat-card-title>
                        <mat-card-title> <a href="#" class="grey-font">Landing page</a></mat-card-title>
                    </mat-card-content>
                  </mat-card>
                  <mat-card class="portfolio-card">
                    <mat-card-content>
                        <img src="./assets/images/blog.avif" width="100%" alt="" srcset="">
                        <mat-card-title> <a href="#">Mag</a></mat-card-title>
                        <mat-card-title> <a href="#" class="grey-font"> Blog </a></mat-card-title>
                    </mat-card-content>
                  </mat-card>
                  <mat-card class="portfolio-card">
                    <mat-card-content>
                        <img src="./assets/images/primer.avif" width="100%" alt="" srcset="">
                        <mat-card-title> <a href="#">Primer</a></mat-card-title>
                        <mat-card-title> <a href="#" class="grey-font">Personal site</a></mat-card-title>
                    </mat-card-content>
                  </mat-card>
                  <mat-card class="portfolio-card">
                    <mat-card-content>
                        <img class="arrow_viewmore" src="./assets/images/target_blank.svg" width="100%" alt="" srcset="">
                        <div class="arrow_viewmore_title">
                        <mat-card-title> <a href="#">View all templates</a></mat-card-title>
                    </div>
                    </mat-card-content>
                  </mat-card>
        </div>
    </div>
    <hr/>
</div>