#superso-ui {
    .community-temp-container {
        h1.community-temp-title {
            font-weight: 600;
            font-size: 2.8rem;
            max-width: 610px;
            line-height: 54px;
            margin-bottom: 2%;
        }

        .community-temp-portfolio-container {
            display: flex;
            // justify-content: center;
            // align-items: center;
            flex-wrap: wrap;
            margin: 12px;
        }

        .portfolio-card {
            max-width: 300px;
            margin: 11px;
            transition: all 0.1s ease-in;
            box-shadow: 0 20px 40px -10px rgb(0 0 0 / 12%);

            img {
                border-radius: 20%;
                display: block;
                min-width: 252px;
                min-height: 170px;
                object-fit: contain;
            }

            img.arrow_viewmore {
                position: relative;
                top: -110px;
                object-fit: none;
                filter: opacity(0.2);
                right: -90px;
            }

            &:hover {
                transition: all 0.1s ease-in;
                transform: translateY(-8px);
                box-shadow: 0 20px 40px -10px rgb(0 0 0 / 12%);
            }

            .mat-card-title {
                margin: 12px 0;

                a {
                    font-size: 20px;
                    font-weight: 600;
                    color: #000;

                }

                .grey-font {
                    color: #8f9ba8;
                    font-size: 17px;
                }
            }

            .arrow_viewmore_title {
                position: absolute;
                bottom: 30px;
                // left: 100px;
            }
        }
    }
}


@media (max-width:600px) {

    #superso-ui {
        .community-temp-container {
            h1.community-temp-title {
                max-width: 100%;
                font-size: 1.4rem;
                line-height: 37px;
            }

            .portfolio-card {
                max-width: 90%;

                img.arrow_viewmore {
                    right: 0;
                }
            }

            .community-temp-portfolio-container {
                flex-direction: column;
            }
        }
    }
}