<div id="readyassist-ui">
    <div class="servicepartner-bg">
        <div class="nl-subscriptionplans-container layout-padding">
            <div class="nl-subscriptionplans-card layout-px">
                <h1>Subscription <span>Plans</span></h1>
                <p>We bring you the best price plans</p>


                <div class="nl-subscriptionpalns-clm-card">
                    <!-- col-1 -->
                    <owl-carousel-o [options]="subscriptionplans">
                        <ng-template carouselSlide>
                            <div class="package-card">
                            <div class="subscrition-icon">
                                <!-- <i class=" subscrp-badge fa-solid fa-circle-dollar"></i> -->
                                <i class="fa fa-inr subscrp-badge" aria-hidden="true"></i>
                                <span class="package-price">699</span>
                                
                            </div>
                            <div class="nl-subscriptionpalns-clm">
                                <div class="nl-subscription-clm-toptitle">
                                    <div class="nl-subscription-clm">
                                        <h2>4W Freedom Plan</h2>
                                    </div>
                                </div>
                                <div class="nl-subscription-list-card">
                                    <p><i class='bx bx-check'></i> Free accommodation</p>
                                    <p><i class='bx bx-check'></i> One time Taxi Support</p>
                                    <p><i class='bx bx-x'></i> incidental Charges</p>
                                    <p><i class='bx bx-x'></i> No insurance</p>
                                    <p><i class='bx bx-check'></i> Towing Services</p>
                                </div>
                                <div class="purchase-btn">
                                    <button>Purchase Now</button>
                                </div>
                            </div>
                        </div>
                        </ng-template>

                        <ng-template carouselSlide>
                            <div class="package-card">
                            <div class="subscrition-icon">
                                <!-- <i class=" subscrp-badge fa-solid fa-circle-dollar"></i> -->
                                <i class="fa fa-inr subscrp-badge" aria-hidden="true"></i>
                                <span class="package-price">2749</span>
                                
                            </div>
                            <div class="nl-subscriptionpalns-clm">
                                <div class="nl-subscription-clm-toptitle">
                                    <div class="nl-subscription-clm">
                                        <h2>Car Pro</h2>
                                    </div>
                                </div>
                                <div class="nl-subscription-list-card">
                                    <p><i class='bx bx-check'></i> Free accommodation</p>
                                    <p><i class='bx bx-check'></i> One time Taxi Support</p>
                                    <p><i class='bx bx-x'></i> incidental Charges</p>
                                    <p><i class='bx bx-x'></i> No insurance</p>
                                    <p><i class='bx bx-check'></i> Towing Services</p>
                                </div>
                                <div class="purchase-btn">
                                    <button>Purchase Now</button>
                                </div>
                            </div>
                        </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="package-card">
                            <div class="subscrition-icon">
                                <!-- <i class=" subscrp-badge fa-solid fa-circle-dollar"></i> -->
                                <i class="fa fa-inr subscrp-badge" aria-hidden="true"></i>
                                <span class="package-price">1699</span>
                                
                            </div>
                            <div class="nl-subscriptionpalns-clm">
                                <div class="nl-subscription-clm-toptitle">
                                    <div class="nl-subscription-clm">
                                        <h2>Car Basic</h2>
                                    </div>
                                </div>
                                <div class="nl-subscription-list-card">
                                    <p><i class='bx bx-check'></i> Free accommodation</p>
                                    <p><i class='bx bx-check'></i> One time Taxi Support</p>
                                    <p><i class='bx bx-x'></i> incidental Charges</p>
                                    <p><i class='bx bx-x'></i> No insurance</p>
                                    <p><i class='bx bx-check'></i> Towing Services</p>
                                </div>
                                <div class="purchase-btn">
                                    <button>Purchase Now</button>
                                </div>
                            </div>
                        </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="package-card">
                            <div class="subscrition-icon">
                                <!-- <i class=" subscrp-badge fa-solid fa-circle-dollar"></i> -->
                                <i class="fa fa-inr subscrp-badge" aria-hidden="true"></i>
                                <span class="package-price">1299</span>
                                
                            </div>
                            <div class="nl-subscriptionpalns-clm">
                                <div class="nl-subscription-clm-toptitle">
                                    <div class="nl-subscription-clm">
                                        <h2>4W Freedom Plan</h2>
                                    </div>
                                </div>
                                <div class="nl-subscription-list-card">
                                    <p><i class='bx bx-check'></i> Free accommodation</p>
                                    <p><i class='bx bx-check'></i> One time Taxi Support</p>
                                    <p><i class='bx bx-x'></i> incidental Charges</p>
                                    <p><i class='bx bx-x'></i> No insurance</p>
                                    <p><i class='bx bx-check'></i> Towing Services</p>
                                </div>
                                <div class="purchase-btn">
                                    <button>Purchase Now</button>
                                </div>
                            </div>
                            </div>
                        </ng-template>






                    </owl-carousel-o>
                </div>
            </div>
        </div>
    </div>
</div>