<div id="readyassist-ui">
    <div class="nl-bookservices-container layout-padding">
        <div class="nl-bookservices-card layout-px">
           <form action="">
            <section>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">
                        <i class="fa-solid fa-phone"></i>
                      </span>
                    </div>
                    <input type="text" class="form-control" placeholder="OTP" aria-label="Username" aria-describedby="basic-addon1">
                  </div>
            </section>
            <section>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">
                        <i class="fa-solid fa-key"></i>
                      </span>
                    </div>
                    <input type="text" class="form-control" placeholder="OTP" aria-label="Username" aria-describedby="basic-addon1">
                  </div>
            </section>
            <button class="btn bookservices-submit-btn">Submit</button>
           </form>
        </div>
    </div>
</div>

<!-- padding: 290px 0; -->