#super-ui {
    .home-feature-container {
        padding-top: 5%;

        .home-faeture-maintitle {
            h1 {
                font-weight: 600;
                font-size: 2.8rem;
                max-width: 560px;
                line-height: 54px;
                margin-bottom: 32px;
            }

            .home-features-card {
                display: flex;
                flex-wrap: wrap;

                .home-features {
                    flex-basis: 11%;
                    min-height: 192px;
                    margin-right: 20px;

                    .subtitle {
                        font-size: 22px;
                        width: min-content;
                        font-weight: 500;
                        line-height: normal;
                        margin-top: 15px;

                    }
                }
            }
        }
    }
}