@import '/src/custom_styles/variables.scss';
@import '/src/custom_styles/mixins.scss';

#super-ui {
    .home-feature-container {
        padding-top: 5%;
        margin-top: -7%;
        .home-feature-maintitle {
            h1 {
                @include main-headings;
                max-width: 560px;
                @media #{$bp-mobiles} {
                    font-size: $Variable_readyassist_fs_24px;
                    max-width: 100%;
                    margin: 40px 0;
                }
            }
            .home-features-card {
                @include flex_fw_ai_jc(wrap, inherit, inherit);
                .home-features-link{
                    flex-basis: 15%;
                    min-height: 192px;
                    margin: 22px 9px;
                    text-align: center;
                    color: #000;
                }

                .home-features {
                    @media #{$bp-mobiles}{
                        flex-basis: 38%;
                        min-height: 152px;
                    }
                    .subtitle {
                        font-size: $Variable_readyassist_fs_22px;
                        font-weight: $Variable_readyassist_fw_500;
                        margin: $Variable_readyassist_marign_32px 0;
                        line-height: $Variable_readyassist_22px;
                         @media #{$bp-mobiles}{
                            width: 100%;
                            font-size: $Variable_readyassist_fs_16px;
                        }
                    }
                }
            }
        }
    }
}




