<div id="super-ui">
    <div class="home-feature-container">
        <div class="home-faeture-maintitle">
            <h1>
                Our Services
            </h1>
            <div class="home-features-card">
                <a href="#" class="home-features-link">
                <div class="home-features">
                    <span><img src="./assets/images/ra_ityre.svg" width="87px" alt="" srcset=""></span>
                    <h1 class="subtitle">Flat tyre fixing </h1>
                </div>
                </a>
                <a href="#" class="home-features-link">
                <div class="home-features">
                    <span><img src="./assets/images/ra_battery.svg" width="87px" alt="" srcset=""></span>
                    <h1 class="subtitle">Battery jumpStart </h1>
                </div>
                </a>
                <a href="#" class="home-features-link">
                <div class="home-features">
                    <span><img src="./assets/images/ra_fuel.svg" width="87px" alt="" srcset=""></span>
                    <h1 class="subtitle">Emergency fuel</h1>
                </div>
                </a>
                <a href="#" class="home-features-link">              
                <div class="home-features">
                    <span><img src="./assets/images/ra_key.svg" width="87px" alt="" srcset=""></span>
                    <h1 class="subtitle">Key lock assistance</h1>
                </div>
                </a>
                <a href="#" class="home-features-link">
                <div class="home-features">
                    <span><img src="./assets/images/ra_towing.svg" width="87px" alt="" srcset=""></span>
                    <h1 class="subtitle">Towing service</h1>
                </div>
                </a>
                <a href="#" class="home-features-link">
                <div class="home-features">
                    <span><img src="./assets/images/ra_repair.svg" width="87px" alt="" srcset=""></span>
                    <h1 class="subtitle">Starting problem </h1>
                </div>
            </a>
                <a href="#" class="home-features-link">
                <div class="home-features">
                    <span><img src="./assets/images/ra_ityre.svg" width="87px" alt="" srcset=""></span>
                    <h1 class="subtitle">Flat tyre fixing </h1>
                </div>
                </a>
                <a href="#" class="home-features-link">
                <div class="home-features">
                    <span><img src="./assets/images/ra_battery.svg" width="87px" alt="" srcset=""></span>
                    <h1 class="subtitle">Battery jumpStart </h1>
                </div>
            </a>
                <a href="#" class="home-features-link">
                <div class="home-features">
                    <span>
                    <span><img src="./assets/images/ra_fuel.svg" width="87px" alt="" srcset=""></span></span>
                    <h1 class="subtitle">Emergency fuel</h1>
                </div>
            </a>



            </div>
        </div>
    </div>
</div>

<hr>