<div id="super-ui">
    <div class="home-feature-container">
        <div class="home-faeture-maintitle">
            <h1>
                All the features you need to build a functional website.
            </h1>
            <div class="home-features-card">
                <div class="home-features" data-aos="fade-left" data-aos-duration="12000">
                    <img src="./assets/images/lightning.svg" width="38px" alt="" srcset="">
                    <h1 class="subtitle">Lightning Fast</h1>
                </div>
                <div class="home-features" data-aos="fade-left" data-aos-duration="12000">
                    <img src="./assets/images/seo.svg" width="38px" alt="" srcset="">
                    <h1 class="subtitle">Excellent SEO</h1>
                </div>
                <div class="home-features" data-aos="fade-left" data-aos-duration="12000">
                    <img src="./assets/images/responsive.svg" width="38px" alt="" srcset="">
                    <h1 class="subtitle">Fully Responsive</h1>
                </div>
                <div class="home-features" data-aos="fade-left" data-aos-duration="12000">
                    <img src="./assets/images/theme.svg" width="38px" alt="" srcset="">
                    <h1 class="subtitle">Custom Theming</h1>
                </div>
                <div class="home-features" data-aos="fade-left" data-aos-duration="12000">
                    <img src="./assets/images/integrations.svg" width="38px" alt="" srcset="">
                    <h1 class="subtitle">Powerful Integrations</h1>
                </div>
                <div class="home-features" data-aos="fade-left" data-aos-duration="12000">
                    <img src="./assets/images/customdomains.svg" width="38px" alt="" srcset="">
                    <h1 class="subtitle">Custom Domains</h1>
                </div>
                <div class="home-features" data-aos="fade-left" data-aos-duration="12000">
                    <img src="./assets/images/password.svg" width="38px" alt="" srcset="">
                    <h1 class="subtitle">Password Protection</h1>
                </div>
                <div class="home-features" data-aos="fade-left" data-aos-duration="12000">
                    <img src="./assets/images/customnav.svg" width="38px" alt="" srcset="">
                    <h1 class="subtitle">Custom Navbars</h1>
                </div>
                <div class="home-features" data-aos="fade-left" data-aos-duration="12000">
                    <img src="./assets/images/ssl.svg" width="38px" alt="" srcset="">
                    <h1 class="subtitle">Automatic SSL</h1>
                </div>
                <div class="home-features" data-aos="fade-left" data-aos-duration="12000">
                    <img src="./assets/images/viewall.svg" width="38px" alt="" srcset="">
                    <h1 class="subtitle">view all features</h1>
                </div>
            </div>
        </div>
    </div>
</div>