#superso-ui{
.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    transition: all 0.3s ease-in-out;
    background: #fffffff7;
    z-index: 1;
    .nav-container {
        width: 87%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        .logo {
            padding: 20px 0;
        }
    
        .main-menu {
            display: flex;
            justify-content: center;
            align-items: center;
    
            .menu-list {
                li {
                    list-style: none;
                    display: inline;
                    padding: 14px 20px;
    
                    a {
                        text-decoration: none;
                        font-family: Roboto, "Helvetica Neue", sans-serif;
                        transition: all .2s ease-in-out;
                        color: rgb(155, 154, 151);
                        font-weight: 500;
                        font-size: 16px;
                        &:hover{
                            transition: all .2s ease-in-out;
                            color: #000;
                        }
                    }
                }
                li.list-item.sign-in-btn {
                    background: #F5F6FA;
                    border-radius: 24px;
                    margin: 0 14px;
                }
            }
    
            .action-btn {
                .get-started-btn {
                    padding: 12px 20px;
                    border-radius: 25px;
                    border: 2px solid;
                    background: #000;
                    transition: 2s;
                    a{
                        text-decoration: none;
                         color: #fff;
                         font-size: 16px;
                    }
                }
            }
        }
    }
}
}

.navbar.active {
    box-shadow: 0 0 5px 1px #dad0d0 !important;   
}

