<div class="navbar">

    <div class="nav-container" >

            <div class="logo">
                <a href="#">
                    <img src="./assets/images/logo.svg" width="40px" alt="" srcset="">
                </a>
            </div>

            <div class="main-menu">
                <ul class="menu-list">
                    <li class="list-item">
                        <a href="#">Templates</a>
                    </li>
                    <li class="list-item">
                        <a href="#">Blog</a>
                    </li>
                    <li class="list-item">
                        <a href="#">Guides</a>
                    </li>
                    <li class="list-item">
                        <a href="#">Showcase</a>
                    </li>
                    <li class="list-item">
                        <a href="#">Pricing</a>
                    </li>
                    <li class="list-item sign-in-btn">
                        <a href="#">Sign in</a>
                    </li>

                </ul>
                <div class="action-btn">
                    
                        <button class="get-started-btn">
                            <a href="#">Get started free</a>
                            </button>
                </div>
            </div>
        </div>
</div>
