<!-- 
<div id="superso-ui">
<div class="navbar">

    <div class="nav-container" >

            <div class="logo">
                <a href="#">
                    <img src="./assets/images/new_ra_logo.png" width="350px" alt="" srcset="">
                </a>
            </div>

            <div class="main-menu">
                <ul class="menu-list">
                    <li class="list-item">
                        <a href="#">Templates</a>
                    </li>
                    <li class="list-item">
                        <a href="#">Blog</a>
                    </li>
                    <li class="list-item">
                        <a href="#">Guides</a>
                    </li>
                    <li class="list-item">
                        <a href="#">Showcase</a>
                    </li>
                    <li class="list-item">
                        <a href="#">Pricing</a>
                    </li>
                    <li class="list-item sign-in-btn">
                        <a href="#">Sign in</a>
                    </li>

                </ul>
                <div class="action-btn">
                    
                        <button class="get-started-btn">
                            <a href="#">Get started free</a>
                            </button>
                </div>
            </div>
        </div>
</div>
</div> -->






<!-- New Menu -->


<div class="wrapper">
    <nav>
        <input type="checkbox" id="show-search">
        <input type="checkbox" id="show-menu">
        <label for="show-menu" class="menu-icon"><i class="fas fa-bars"></i></label>
        <div class="content">
            <div class="logo"><a href="#">
                    <img src="./assets/images/new_ra_logo.png" width="350px" alt="" sizes="" srcset="">
                </a></div>
            <ul class="links">
                <li><a href="#">Templates</a></li>
                <li><a href="#">Blog</a></li>
                <li>
                    <a href="#" class="desktop-link">Features</a>
                    <input type="checkbox" id="show-features">
                    <label for="show-features">Features</label>
                    <!-- <ul>
              <li><a href="#">Drop Menu 1</a></li>
              <li><a href="#">Drop Menu 2</a></li>
              <li><a href="#">Drop Menu 3</a></li>
              <li><a href="#">Drop Menu 4</a></li>
            </ul> -->
                </li>
                <li>
                    <a href="#" class="desktop-link">Guides</a>
                    <!-- <input type="checkbox" id="show-services">
                    <label for="show-services">Showcase</label> -->
                    <!-- <ul>
              <li><a href="#">Drop Menu 1</a></li>
              <li><a href="#">Drop Menu 2</a></li>
              <li><a href="#">Drop Menu 3</a></li>
              <li>
                <a href="#" class="desktop-link">Pricing</a>
                <input type="checkbox" id="show-items">
                <label for="show-items">More Items</label>
                <ul>
                  <li><a href="#">Sub Menu 1</a></li>
                  <li><a href="#">Sub Menu 2</a></li>
                  <li><a href="#">Sub Menu 3</a></li>
                </ul>
              </li>
            </ul> -->
                </li>
                <li><a href="#">Feedback</a></li>
                <li><a href="#">Sign in</a></li>
            </ul>
        </div>
        <div class="action-btn">
            <button class="get-started-btn">
                <a href="#">Get started free</a>
            </button>
        </div>
        <!-- <label for="show-search" class="search-icon"><i class="fas fa-search"></i></label> -->
        <!-- <form action="#" class="search-box">
        <input type="text" placeholder="Type Something to Search..." required>
        <button type="submit" class="go-icon"><i class="fas fa-long-arrow-alt-right"></i></button>
      </form> -->

    </nav>
</div>