<div id="readyassist-ui">
    <div class="nl-testimonials-container layout-padding">
        <div class="nl-testimonials-card layout-px">
            <div class="nl-testimonial_clms-container">
                <div class="nl-testimonial_clms">
                    <p>Testimonials</p>
                    <h1>What People Say About Us.</h1>
                </div>
                <div class="nl-testimonial_clms testimonial-clm-right">
                    <div class="avatar-card">
                        <img src="./assets/images/nl_avatar.png" width="120px" alt="" srcset="">
                    </div>
                    <div class="content-card">
                    <div class="description">
                        <p>" Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error dicta earum rem doloremque culpa quos aspernatur eaque delectus sit. "</p>
                    </div>
                    <div class="author-section">
                        <div class="divider"></div>
                        <p>Mike taylor</p>
                        <p class="contry">Lahore, pakisthan</p>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>