<div id="superso-ui">
    <div class="super-footer-container">
        <div class="super-footer-media-container">
            <div class="super-footer-media-container-2">
                <a href="#">
                    <img src="./assets/images/new_ra_logo.png" width="180px" alt="" srcset="">
                </a>
            </div>
            <div class="super-footer-media-container-2">
                <div class="social-icons-card">
                    <ul>
                        <li><a href="#">
                                <i class='bx bxl-twitter'></i>
                            </a>
                        </li>
                        <li><a href="#">
                            <i class='bx bxl-discord-alt' ></i>
                            </a>
                        </li>
                        <li><a href="#">
                            <i class='bx bxl-instagram' ></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
               
            </div>


            <div class="footer-menu-container">
                <nav>
                    <ul>
                        <li><a href="#">templates</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Guides</a></li>
                        <li><a href="#">Showcase</a></li>
                        <li><a href="#">Pricing</a></li>
                        <li><a href="#">Builder</a></li>
                        <li><a href="#">Icons</a></li>
                        <li><a href="#">Docs</a></li>
                        <li><a href="#">Create</a></li>
                        <li><a href="#">Terms</a></li>
                        <li><a href="#">Report</a></li>
                    </ul>
                </nav>
            </div>
            <div class="footer-copy-regnote">
                <p class="super-footer__footnote">© Super Publishing Co — <a href="https://s.super.so/notion-site"> View this site in Notion ⚡</a></p>
            </div>
        </div>
    </div>


