/* You can add global styles to this file, and also import other style files */
// @import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import '~bootstrap/dist/css/bootstrap.min.css';


@import '/src/custom_styles/buttons.scss';
@import '/src/custom_styles/mixins.scss';
@import '/src/custom_styles/variables.scss';


:root {
  --text-color-grey: #8F9BA8;
  --info-icon: #c5c5c4;
  --text-color-yellow: #fdc917;
  --bg-color: #fec602;
  --border:#5c5252;
  --border--white:#fff;
  --subscriptionheader--background:#fff9e7;
}
a{
  text-decoration: none !important;
  font-family: ABregular !important;
}
button{
  font-family: ABregular !important;
}
html,
body {
  height: 100%;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  @media #{$bp-sm}{
    scroll-snap-type: none;
}
 
  }


  // scrolling css to a top of the div
  .section{
    // height: 100vh;
    // position: relative;
    // scroll-snap-align: center;
    // scroll-snap-align: start;
    @media #{$bp-sm}{
      scroll-snap-align: none;
  }
    // padding-top: 5%;
  }
  .owl-theme .owl-dots{
    display: none;
    @media #{$bp-sm}{
      display: block;
      margin-top: 22px;
    }
  }
  



body {
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  // overflow-x: hidden;
  // overflow-y: scroll;
}
p{
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: ABregular !important;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  // font-family: Roboto, "Helvetica Neue", sans-serif;
  // font-family: 'fRegular';
  font-family: 'ABregular';
  font-size: 1rem;

}
h1{
  span{
    font-family: ABblack !important;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  // font-family: Roboto, "Helvetica Neue", sans-serif;
  font-family: ABblack !important;
  // font-family: fBold;
  font-weight: 600 !important;
}

hr {
  border: 1px solid #cfcfcf;
  margin: 60px 0;
}

a {
  text-decoration: none;
}

body::-moz-selection {
  /* Code for Firefox */
  color: #fff;
  background: #ffc158;
}

::selection {
  color: #fff;
  background: #ffc158;
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffc158;
  height: 12vh;
  border-radius: 5px;
}


//Form group
.form-control:focus, .form-select:focus{
  box-shadow: none;
}


// owl-carousel styling

.owl-carousel {
  .owl-nav {
      [class*=owl-] {
          color: #FFF;
          padding: 12px !important;
          background: #fdc917 !important;
          border-radius: 6%;
        
          // margin-top: -30px !important;
      }
  }
}
// .owl-theme .owl-nav{
//   margin-top: 70px !important;
// }

.testimonilas-container .owl-theme .owl-nav {
  margin-top: 70px;

  @media #{$bp-sm}{
    margin-top: 0px; 
  }

}



.layout-padding{
  padding: 0px 7%;
}

@media (max-width:600px) {
  p{
    font-size: 1rem;
  }
}



.btn:focus {
  outline: none !important;
  box-shadow: none !important;
  }



  .nl-subscriptionplans-card  .owl-theme .owl-dots .owl-dot span{
    background: #ded6d6;
  }
  
// Custom font
// @font-face {
//   font-family: fBolder;
//   // src: url("./assets/Fira_Sans/FiraSans-ExtraBold.ttf") format("opentype");
//   src: url("./assets/Fira_Sans/FiraSans-ExtraBold.ttf") format("opentype");

// }
// @font-face {
//   font-family: fBold;
//   src: url("./assets/Fira_Sans/FiraSans-Bold.ttf") format("opentype");
// }
// @font-face {
//   font-family: fLight;
//   src: url("./assets/Fira_Sans/FiraSans-Light.ttf") format("opentype");
// }
// @font-face {
//   font-family: fRegular;
//   src: url("./assets/Fira_Sans/FiraSans-Regular.ttf") format("opentype");
// }
// @font-face {
//   font-family: fMedium;
//   src: url("./assets/Fira_Sans/FiraSans-medium.ttf") format("opentype");
// }
// @font-face {
//   font-family: fSemiBold;
//   src: url("./assets/Fira_Sans/FiraSans-SemiBold.ttf") format("opentype");
// }


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

// owl testimonials
.testimonial-card{
  .owl-carousel {
    .owl-nav {
        [class*=owl-] {
            color: #FFCC33;
           
            background: transparent !important;
           
            transform: translate(580px, -40px);
            padding: 5px !important;
            @media #{$bp-sm}{
              transform: translate(0, 0);
            }
            @media #{$bp-lg}{
              transform: translate(464px, -30px);
            }
          
            // margin-top: -30px !important;
        }
    }
  }
}


.testimonial-card{
  .owl-theme .owl-nav [class*=owl-]:hover{
color: rgba(0, 102, 153, 0.4);
  }
}



// Custom font
@font-face {
  font-family: ABbold;
  // src: url("./assets/Fira_Sans/FiraSans-ExtraBold.ttf") format("opentype");
  src: url("./assets/Avenir_Black/Avenir_Bold.ttf") format("opentype");

}
@font-face {
  font-family: ABthin;
  src: url("./assets/Avenir_Black/Avenir_Thin.ttf") format("opentype");
}
// @font-face {
//   font-family: fLight;
//   src: url("./assets/Fira_Sans/FiraSans-Light.ttf") format("opentype");
// }
@font-face {
  font-family: ABregular;
  src: url("./assets/Avenir_Black/Avenir_Regular.ttf") format("opentype");
}
@font-face {
  font-family: ABblack;
  src: url("./assets/Avenir_Black/Avenir_Black.ttf") format("opentype");
}
// @font-face {
//   font-family: fSemiBold;
//   src: url("./assets/Fira_Sans/FiraSans-SemiBold.ttf") format("opentype");
// }





// All Subscription

.all-subscription-plans .owl-carousel .owl-nav .owl-prev {
    position: absolute;
    background: transparent !important;
    left: -90px;
    @media #{$bp-sm}{
      left: -43px;
    }
}
.all-subscription-plans .owl-carousel .owl-nav .owl-next {
    position: absolute;
    background: transparent !important;
    right: -90px;
    @media #{$bp-sm}{
      right: -38px;
    }
}
.nl-subscriptionplans-card{
  .mat-tab-body-content{
    overflow-x: hidden;
  }
}


.all-subscription-plans .owl-carousel .owl-nav {
  position: relative;
  top: -250px;
  @media #{$bp-sm}{
    display: none;
  }
  .fa-chevron-left{
    color: #c9c6be;
    // background: #efefef;
    padding: 9px;
    border-radius: 3px;
    font-size: 22px;
  }
  .fa-chevron-right{
    color: #c9c6be;
    // background: #efefef;
    padding: 9px;
    border-radius: 3px;
    font-size: 22px;
  }
}


.all-subscription-plans .owl-item.active.center{
  margin: 0 !important;
}



.accordion-body {
  padding: 0;
}

.btn-check:focus+.btn-primary, .btn-primary:focus{
  box-shadow: none !important;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

