<div id="readyassist-ui">
    <div class="servicepartner-bg">
        <img class="pattern" src="./assets/images/pattern.png" alt="" srcset="">
        <div class="nl-servicepartners-container layout-padding">
            <div class="nl-servicepartners-card layout-px">
                <div class="nl-servicepartners-clm nl-servicepartners-clm-left">
                    <img src="./assets/images/nl_peopleatwork.jpg" width="100%" alt="" srcset="">
                </div>
                <div class="nl-servicepartners-clm nl-servicepartners-clm-right ">
                    <h1>Be Our <span>Service Partner</span></h1>
                    <p>
                        Become our RSA partner & get assured business & take your business next level with us. Choose
                        your path to partnership & get all the support you need to succeed.
                    </p>
                    <div class="joinus-form">
                        <form action="">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">
                                        <i class="fa-regular fa-user form-fa-icons"></i>
                                    </span>
                                </div>
                                <input type="text" class="form-control" placeholder="Enter your name"
                                    aria-label="Username" aria-describedby="basic-addon1">
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">
                                        <i class="fa-regular fa-envelope form-fa-icons"></i>
                                    </span>
                                </div>
                                <input type="email" class="form-control" placeholder="Enter your email"
                                    aria-label="Username" aria-describedby="basic-addon1">
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    I agree with <a href="#">Terms & Conditions</a>
                                </label>
                            </div>
                            <button class="btn btn-joinus btn-success">Join us →</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>