@import '/src/custom_styles/buttons.scss';
@import '/src/custom_styles/mixins.scss';
@import '/src/custom_styles/variables.scss';

#readyassist-ui {
    .servicepartner-bg {
        background-color: #f3eeea;
    }

    .nl-servicepartners-container {
        .layout-px {
            padding: 250px 0;

            @media #{$bp-sm} {
                padding: 100px 0;
            }
            @media #{$bp-lg}{
                padding: 152px 0;
            }
        }

        .nl-servicepartners-card {
            display: flex;
            justify-content: center;
            align-items: center;

            @media #{$bp-sm} {
                flex-direction: column;
            }

            .nl-servicepartners-clm-right {
                width: 36%;
                margin-left: 9%;

                @media #{$bp-sm} {
                    width: 100%;
                    margin-left: 0;
                }

                .joinus-form {
                    margin-top: 40px;

                    @media #{$bp-sm} {
                        margin-top: 30px;
                    }
                }
            }

            .nl-servicepartners-clm-left {
                width: 52%;

                @media #{$bp-sm} {
                    width: 100%;
                }
            }

            h1 {
                // padding: 2rem 0;
                
                font-size: 42px;
                line-height: 42px;
                color: #333333;
                margin-bottom: 30px;

                @media #{$bp-sm} {
                    font-size: 1.8rem;
                    margin-top: 3rem;
                }
                @media #{$bp-lg} {
                    font-size: 32px;
                }
                span {
                    color: #FFCC33;
                    
                    font-size: 42px;
                    @media #{$bp-sm} {
                        font-size: 1.8rem;
                        margin-top: 3rem;
                    }
                    @media #{$bp-lg} {
                        font-size: 32px;
                    }
                }

            }

            p {
                
                color: #6c757d;
                line-height: 1.5rem;
                margin: 0 0 12px;
                font-size: 1rem;
                font-family: ABbold !important;
                font-weight: 600;
                padding-top: 5px;
            }
        }
    }
}


.joinus-form {
    .btn-joinus {
        width: 126px;
        margin: 40px 0;
        height: 43px;
        border-radius: 20px;
        font-size: 14px;
        @media #{$bp-lg} {
            margin: 30px 0;
        }
    }

    .input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
        border: 1.6px dashed #FFCC33 !important;
        border-left: 0 !important;
    }

    .form-fa-icons {
        font-size: 21px;
    }

    .input-group-text {
        background: white;
        border-right: 0px;
        padding: 12px;
        border: 1.6px dashed #FFCC33;
        border-radius: 4px 0 0 6px;
    }

    .form-check {
        a {
            color: #212529;
            font-size: 13px;
            text-decoration: underline;
        }
    }

    .form-check-input:checked {
        background-color: #4caf50;
        border-color: #4caf50;
    }

    label {
        display: inline-block;
        position: relative;
        font-size: 14px;
        top: 3px;
    }

    .form-check-input:focus {
        border-color: #4caf50;
        outline: 0;
        // box-shadow: 0 0 0 0.25rem #72e1764c;
        box-shadow: none;
    }
}


img.pattern {
    filter: opacity(0.04);
    position: absolute;
    z-index: 1;
    width: 236px;
    left: 79px;
    padding-top: 15px;
    margin-top: 11%;

    @media #{$bp-sm} {
        margin-top: 4%;
        left: 4px;
        width: 247px;
    }
    @media #{$bp-lg} {
        margin-top: 9%;
    }
}

.nl-servicepartners-clm-left img {
    position: relative;
    z-index: 1;
}

.member-media-links ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 13px;
    padding: 15px 0;
}