// FontSizes
$Variable_readyassist_fs_14px: 0.8rem;
$Variable_readyassist_fs_16px: 1rem;
$Variable_readyassist_navlink_fs_18px: 1.125rem;
$Variable_readyassist_fs_19px: 1.188rem;
$Variable_readyassist_fs_20px: 1.25rem;
$Variable_readyassist_fs_21px: 1.313rem;
$Variable_readyassist_fs_22px: 1.375rem;
$Variable_readyassist_fs_24px: 1.5rem;
$Variable_readyassist_fs_32px: 2rem;
$Variable_readyassist_fs_40px: 2.5rem;

// FontLinehight
$Variable_readyassist_22px: 1.375rem;

// Margin
$Variable_readyassist_marign_32px:2rem;
$Variable_readyassist_marign_43px:2.688rem;
$Variable_readyassist_marign_52px:3.25rem;
$Variable_readyassist_marign_62px:3.875rem;
$Variable_readyassist_marign_12px:0.75rem;
$Variable_readyassist_marign_14px:0.875rem;
// $Variable_readyassist_marign_62px:3.875rem;

//FontWeight
$Variable_readyassist_fw_600: 600;
$Variable_readyassist_fw_500: 500;


//layoutpadding
$Variable_readyassist_layoutpadding: 30px 0;

//staricon color
$Variable_readyassist_staricon_color:#ffc501;

//FontColors
$Variable_readyassist_navlink__fc_: #212529;
$Variable_readyassist_link__fc_white: #fff;
$Variable_readyassist_fc_black: #000;
$Variable_readyassist_fc_white: #fff;
$Variable_readyassist_fc_litegrey: #999;



//backgroundColors
$Variable_readyassist_bgc_yellow: #ffc500;
$Variable_readyassist_layout__bgc: aliceblue;
$Variable_readyassist_layout__bgwhite: #fff;
$Variable_readyassist_layout__ftr__copyright__bgc: #474643;



//buttons
$btn_dark: #000;
$btn_grey: #999;
// $green: #75B343;
// $orange: #FF6A42;






// layout
$Variable_readyassist_boxlayoutpadding: 3rem 0;

//backgroundImages
$Variable__readyassist__bgImg_yellow : url('../../assets/images/Bg.jpg');
$Variable__readyassist__hm__banner : url('../../assets/images/slideshow-home-c1.jpg');
$Variable__readyassist__transparentbg : url('../../assets/images/bg-green.png');



// responsive breakpoints
$bp-mobiles: "(max-width: 600px)"; // from 0 - 600px screen 
$bp-responsive-900: "(max-width: 900px)"; // from 0 - 600px screen 