<div class="nl-collabrated-container">
   <div class="slider">
      <div class="slide-track">
         <div class="slide"><img src="./assets/images/colb_shell.svg" height="100" alt="ReadyAssist Partners"></div>
         <div class="slide"><img src="./assets/images/colb_pitstop.svg" height="100" alt="ReadyAssist Partners"></div>
         <div class="slide"><img src="./assets/images/colb_shell.svg" height="100" alt="ReadyAssist Partners"></div>
         <div class="slide"><img src="./assets/images/colb_pitstop.svg" height="100" alt="ReadyAssist Partners"></div>
         <div class="slide"><img src="./assets/images/colb_shell.svg" height="100" alt="ReadyAssist Partners"></div>
         <div class="slide"><img src="./assets/images/colb_pitstop.svg" height="100" alt="ReadyAssist Partners"></div>
         <div class="slide"><img src="./assets/images/colb_shell.svg" height="100" alt="ReadyAssist Partners"></div>
         <div class="slide"><img src="./assets/images/colb_pitstop.svg" height="100" alt="ReadyAssist Partners"></div>
         <div class="slide"><img src="./assets/images/colb_shell.svg" height="100" alt="ReadyAssist Partners"></div>
         <div class="slide"><img src="./assets/images/colb_pitstop.svg" height="100" alt="ReadyAssist Partners"></div>
         <div class="slide"><img src="./assets/images/colb_shell.svg" height="100" alt="ReadyAssist Partners"></div>
        <div class="slide"><img src="./assets/images/colb_pitstop.svg" height="100" alt="ReadyAssist Partners"></div>
         
      </div>
   </div>
</div>
