@import '/src/custom_styles/mixins.scss';
@import '/src/custom_styles/variables.scss';

#readyassist-ui {
    .sc-container {
        .layout-px {
            padding: 200px 0;

            @media #{$bp-sm} {
                padding: 80px 0;
            }
        }
    }
}


.sc-card {
    background: #e1e1e1;
    width: 40%;
    margin: 0 auto;
    padding: 42px;
    border-radius: 9px;
    text-align: center;
}
.sc-card p {
    font-size: 19px;
}
p.small-txt {
    font-size: 14px !important;
    margin: 0 !important;
}
p.xs-txt {
    font-size: 14px !important;
    margin: 0 !important;
}
 .cnf-sumbit-btn {
    margin-top: 32px;
}
svg.svg-inline--fa.fa-circle-check {
    color: #009410;
    font-size: 62px;
    padding-bottom: 22px;
    padding-top: 12px;
    box-shadow: 0 0 10px #e1e1e1;
}
.cnf-sumbit-btn{
    background: #009410;
    width: 130px;
    border-radius: 42px;
    font-size: 16px;
    color: #fff;
    border: none;
    padding: 11px 0;
}