<div id="readyassist-ui">
    <div class="sc-container layout-padding">
        <div class="layout-px">
            <div class="sc-card">
                <h1>Your subscription has been created</h1>
    
                <div class="check-icon">
                    <i class="fa-solid fa-circle-check"></i>
                    <p>Thank you for purchase !</p>
                    <p class="small-txt">Four wheeler plan</p>
                    <p class="xs-txt">You will receive a purchase conformation email with details of your subscription </p>
    
                    <button class="cnf-sumbit-btn">OK</button>
                </div>
                    
            </div>
        </div>

    </div>
</div>
