    #superso-ui {
        .superso__homebanner__container {
            padding-top: 14%;

            h1 {
                font-size: 3.5rem;
                font-weight: 600;
                line-height: 80px;
                span{
                    opacity: 0;
                }
            }

            p {
                font-size: 18px;
            }

            .banner-btns {
                margin-top: 62px;
                margin-bottom: 12px;

                button.btn1 {
                    background: #000;
                    border-radius: 30px;
                    padding: 16px 32px 17px;

                    a {
                        color: #fff;
                        font-size: 21px;
                        font-weight: 500;
                    }
                }

                span {
                    a {
                        color: rgb(155, 154, 151);
                        font-size: 15px;
                    }
                }
            }
        }
    }


    // Mobile Responsive

    @media screen and (max-width: 600px) {
        #superso-ui {
            .superso__homebanner__container {
                padding-top: 6%;
                h1{
                    span{
                        opacity: 1;
                    }
                }

                p {
                    font-size: 1rem;
                    line-height: 1.7rem;
                }

                .banner-btns {
                    display: flex;
                    flex-direction: column;
                    width: 220px;
                    margin-top: 25px;
                    button.btn1{
                        width: 200px;
                        height: 59px;
                        padding: 0;
                        a{
                            font-size: 1rem;
                        }
                    }

                    span {
                        margin-top: 22px;
                    }
                }

                h1 {
                    max-width: 100%;
                    font-size: 2rem;
                    line-height: 59px;
                    padding-top: 31%;
                }
            }
        }

    }