<div id="superso-ui">
    <div class="superso__homebanner__container">
        <h1>
            24/7 Road Side Assistance <span>for</span>
        </h1>
<app-banner-text-animation></app-banner-text-animation>
       
        <div class="banner-btns">
            <!-- <div class="c">
                <button class="custom-btn btn-16">Read More</button>
            </div> -->
            <button class="btn1"><a href="#">Book Services →</a> </button>
            <span style="margin-left: 32px;"><a href="#">our help line support</a></span>
        </div>
    </div>

</div>




