@import '/src/custom_styles/mixins.scss';
@import '/src/custom_styles/variables.scss';



  

    .aboutus-bg{
        position :absolute;
        background-image: url('../../../assets/images/nl_footerbg.svg');
        height:100%;
        width:100%;
        // z-index: -1;
        opacity:.1;
        background-size: 100% 100%;
        }

        .collab{
            height : 50vh;
        }

        .board{
            height : 100vh;
        }
        
    

        .aimrow{
            
            color:white;
            background-image: linear-gradient( #262a2e 65%,rgb(86, 86, 86));
            height:50vh;
            @media (max-width : 575px){
                height :auto;
            }

            @media (max-width : 767px){
                height :auto;
            }
           
           
       

            .svg-inline--fa {
                color: #ffcc33;
                font-size: 2.5vw;
                margin-bottom: 12px;
                @media (max-width : 575px){
                    font-size : 40px;
                }

                @media (max-width : 767px){
                    font-size : 33px;
                }
               
            }

            h3{
                
                @media (max-width : 767px){
                        font-size : 40px;
                }

                @media (min-width : 768px){
                    font-size :3.3vw;
            }

           
           
               
            }

            p{
                opacity: .8;

                @media (min-width : 768px){
                    font-size : 0.9vw;
            }
            }
         
        }

        .nl-newaboutus-container {




            h1 {
                position: relative;
                font-size: 50px;
    
                @media #{$bp-sm}{
                    position: static;
                    font-size: 2rem;
                }
            }
    
            .p1{
                font-size: 200%;
                @media (max-width : 576px){
                    font-size: 150%;
                }
                font-weight:bolder;
                line-height: 30px;
            }
    
    
        
        }

    

    
    

