

    <div class="aboutus-bg"></div>

    <div style='height:100px;' class="row g-0">

    </div>

    <div class="row aboutrow g-0">

    

            <div class="pb-1">
                <div class="row justify-content-center g-0">
                    <div class="col-11 col-lg-6 text-center pt-5">
                        <h1>About ReadyAssist</h1>
                    </div>
                    <div class="col-11 col-lg-7 text-center pt-5 pb-5">
                        <p class="p1">One of the leading 24/7 roadside assistance company from India for bikes & cars.
                        </p>
                    </div>
                    <div class="col-11 col-md-7 col-lg-6  text-center">
                        <p>ReadyAssist intends to be the best roadside assistance provider in India by addressing the
                            real time vehicle breakdown problems
                            of customers using deep machine learning, data intelligence and operations efficiency. We
                            are headquartered in Bangalore,
                            the beautiful garden city of India and also fontly called as the silicon valley of India
                            among the startup ecosystem.</p>
                    </div>




                    <div class="col-11  col-lg-7 text-center">
                        <p>ReadyAssist provides 24/7 On-Spot Breakdown Support, Flat Tyre Repairs, fixes for starting
                            problems & towing service to customers through
                            our annual subscriptions & on-demand. ReadyAssist services are available across any nook and
                            corner of India to our customers
                            through the subscription model.</p>
                    </div>
                </div>
            </div>
     

        <div class="col-12 g-0 d-none d-sm-block">
            <img style="width:100%" class="" src="../assets/images/group-pic.png" alt="" srcset="">
        </div>



    </div>

    <div class="row aimrow px-0 px-md-5 px-xl-5 pb-5  g-0 ">

        <div class="row px-1 px-md-2 px-xl-5 pt-5 align-self-center">


            <div class="col-12 col-sm-6 col-md-3 pb-3 px-5 px-md-3 px-xl-5">
                <div class="col-12 pt-3 pb-0 pb-md-1 pb-xl-4">
                    <i class="fa-solid fa-user-group"></i>
                </div>
                <div class="col-12 pt-3 pb-3 ">
                    <h3 class="pb-3 pb-md-0 pb-xl-4">5000+</h3>
                    <p class="pt-1"> Service Partners - Nearly all notion features are supported and your content</p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3 pb-3 px-5 px-md-3 px-xl-5">
                <div class="col-12 pt-3 pb-0 pb-md-1 pb-xl-4">
                    <i class="fa-solid fa-map-pin"></i>
                </div>
                <div class="col-12 pt-3 pb-3">
                    <h3 class="pb-3 pb-md-0 pb-xl-4">16650+</h3>
                    <p class="pt-1">Since your site pulls content from notion, there's no need to learn a new tool</p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3 pb-3 px-5 px-md-3 px-xl-5">
                <div class="col-12 pt-3 pb-0 pb-md-1 pb-xl-4">
                    <i class="fa-solid fa-gear"></i>
                </div>
                <div class="col-12 pt-3 pb-3">
                    <h3 class="pb-3 pb-md-0 pb-xl-4">1Million+</h3>
                    <p class="pt-1">Our team is dedicated to writing quality code with the latest and greatest</p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3 pb-3 px-5 px-md-3 px-xl-5">
                <div class="col-12 pt-3 pb-0 pb-md-1 pb-xl-4">
                    <i class="fa-solid fa-heart"></i>
                </div>
                <div class="col-12 pt-3 pb-3">
                    <h3 class="pb-3 pb-md-0 pb-xl-4">100000+</h3>
                    <p class="pt-2">Since your site pulls content from notion, there's no need to learn a new tool</p>
                </div>
            </div>

        </div>




    </div>


   
        <div class="row collab pt-5 align-self-center g-0">

            <div class="col-12 pt-5 align-self-start">
                
                <app-nl-collabratedwith></app-nl-collabratedwith>

            </div>
        </div>
        
        <div class="board">
            <app-nl-boardmembers></app-nl-boardmembers>
        </div>


