<div id="readyassist-ui">
    <div class="aboutus-bg"></div>
    
    <div class="nl-newaboutus-container layout-padding">
        
        <div class="layout-px pb-1">
            <div class="row justify-content-center">
                <div class="col-6 text-center pt-5">
                   <h1>About ReadyAssist</h1>
                </div>
                <div class="col-8 text-center pt-5 pb-5">
                    <p class="p1">One of the leading 24/7 roadside assistance company from India for bikes & cars.</p>
                </div>
                <div class="col-lg-6 col-md-7 text-center">
                    <p>ReadyAssist intends to be the best roadside assistance provider in India by addressing the real time vehicle breakdown problems
                        of customers using deep machine learning, data intelligence and operations efficiency. We are headquartered in Bangalore,
                        the beautiful garden city of India and also fontly called as the silicon valley of India among the startup ecosystem.</p>
                </div>

                <div class="col-7 text-center">
                    <p>ReadyAssist provides 24/7 On-Spot Breakdown Support, Flat Tyre Repairs, fixes for starting problems & towing service to customers through
our annual subscriptions & on-demand. ReadyAssist services are available across any nook and corner of India to our customers
through the subscription model.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row pb-5">
        <img src="../assets/images/group-pic.png" alt="" srcset="">

        
    </div>

    <div class="row layout-padding pt-5 pb-5 justify-content-around">
          
                <div class="nl-archivements-card-clm col-xxl-3">
                    <div class="nl-archivements-icons-card">
                        <i class="fa-solid fa-icons fa-user-group"></i>
                    </div>
                    <div class="nl-archivements-count">
                        <h3>5000+</h3>
                        <p>Service Partners</p>
                    </div>
                </div>
    
                <div class="nl-archivements-card-clm col-xxl-3">
                    <div class="nl-archivements-icons-card">
                        <i class="fa-solid fa-icons fa-map-pin"></i>
                    </div>
                    <div class="nl-archivements-count">
                        <h3>16650+</h3>
                        <p>Pin Codes</p>
                    </div>
                </div>
    
                <div class="nl-archivements-card-clm col-xxl-3">
                    <div class="nl-archivements-icons-card">
                        <i class="fa-solid fa-icons fa-gear"></i>
                    </div>
                    <div class="nl-archivements-count">
                        <h3>1Million+</h3>
                        <p>Vehicle Mobilised</p>
                    </div>
                </div>
    
                <div class="nl-archivements-card-clm col-xxl-3">
                    <div class="nl-archivements-icons-card">
                        <i class="fa-solid fa-heart"></i>
                    </div>
                    <div class="nl-archivements-count">
                        <h3>100000</h3>
                        <p>Subscribed Customers</p>
                    </div>
                </div>
    </div>
    <div class="row pb-5 pt-5"></div>
    
   
    <app-nl-collabratedwith></app-nl-collabratedwith>
    <app-nl-boardmembers></app-nl-boardmembers>

            
    </div>
