@import '/src/custom_styles/mixins.scss';
@import '/src/custom_styles/variables.scss';


#readyassist-ui {

    .aboutus-bg{
        position :absolute;
        background-image: url('../../../assets/images/nl_footerbg.svg');
        height:100%;
        width:100%;
        // z-index: -1;
        opacity:.1;
        background-size: 100% 100%;
        }
        
        .aboutrow{
            height:100vh;
        }

        .aimrow{
            color:white;
            height:50vh;
            background-color: #262a2e;

            .svg-inline--fa {
                color: #ffcc33;
                font-size: 48px;
                margin-bottom: 12px;
            }

            h3{
                font-size: 400%;
            }

            p{
                opacity: .7;
            }
         
        }

        .nl-newaboutus-container {




            h1 {
                position: relative;
                font-size: 50px;
    
                @media #{$bp-sm}{
                    position: static;
                    font-size: 2rem;
                }
            }
    
            .p1{
                font-size: 200%;
                font-weight:bolder;
                line-height: 30px;
            }
    
    
            
    
            .layout-px {
                padding: 125px 0;
                @media #{$bp-sm}{
                    padding-top: 155px;
                    padding-bottom: 40px;
                }
            }
    
        }

        .collab{
            height:50vh;
        }

        .board{
           height :100vh;
        }


    
    

}