<div id="superso-ui">
    <div class="website-builder-container">
        <h1 class="websitebuilder-maintitle">
            Why choose Super within a world full of website builders.
        </h1>
        <div class="websitebuilder-pages" data-aos="zoom-in-down" data-aos-duration="18000">
            <div class="websitebuilder-pages-clm">
                <img src="./assets/images/ada_lovelace.avif" width="100%" alt="" srcset="">
                <h1 class="websitebuilder-pages-title">
                    Manage your site with a tool you already know & love
                </h1>
                <p>You already use Notion for nearly everything—websites are a natural extension. Notion is a dream CMS.</p>
            </div>
            <div class="websitebuilder-pages-clm">
                <img src="./assets/images/progress98.avif" width="100%"  alt="" srcset="">
                <h1 class="websitebuilder-pages-title">
                    Automatically optimized for the modern web
                </h1>
                <p>
                    Super is built on top of the best web technologies available—making it fast, functional, and SEO-friendly out of the box.
                </p>
            </div>
            <div class="websitebuilder-pages-clm">
                <img src="./assets/images/thirdparty.avif" width="100%" alt="" srcset="">
                <h1 class="websitebuilder-pages-title">
                    Power up your site with hundreds of 3rd party tools.
                </h1>
                <p>
                    Extend your Super site with live chat, analytics, payments, and more. See our guides for a growing list of simple tutorials.
                </p>
            </div>
        </div>
    </div>
    <hr>
</div>