#superso-ui {
    .website-builder-container {
        .websitebuilder-maintitle {
            font-weight: 600;
            font-size: 2.8rem;
            max-width: 610px;
            line-height: 54px;
            margin-bottom: 62px;
        }

        .websitebuilder-pages {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .websitebuilder-pages-clm {
                flex-basis: 391px;

                .websitebuilder-pages-title {
                    max-width: 270px;
                    font-size: 20px;
                    color: #000;
                    font-weight: 600;
                    margin: 12px 0;

                }

                p {
                    font-size: 1.2rem;
                    line-height: 2rem;
                }
            }
        }
    }
}

@media (max-width:600px) {
    #superso-ui {
        .website-builder-container {
            .websitebuilder-maintitle {
                max-width: 100%;
                font-size: 2rem;
            }
            .websitebuilder-pages {
                flex-direction: column;
                .websitebuilder-pages-clm {
                    .websitebuilder-pages-title {
                        max-width: 100%;
                        font-size: 20px;
                        color: #000;
                        font-weight: 600;
                        margin: 12px 0;
    
                    }
    
                }
            }
        }
    }
}



