@import '/src/custom_styles/buttons.scss';
@import '/src/custom_styles/mixins.scss';
@import '/src/custom_styles/variables.scss';

#readyassist-ui {
    .nl-archivements-container {
        h1 {
            font-size: 42px;
            line-height: 42px;
            text-align: center;
            color: #333333;
            margin-bottom: 30px;

            @media #{$bp-sm} {
                font-size: 1.8rem;
            }

            @media #{$bp-lg} {
                font-size: 32px;
            }

            span {
                color: #FFCC33;
                font-size: 42px;

                @media #{$bp-sm} {
                    font-size: 1.8rem;
                }

                @media #{$bp-lg} {
                    font-size: 32px;
                }
            }
        }

        .layout-px {
            padding: 120px 0;

            @media #{$bp-sm} {
                padding: 50px 0;
            }

            @media #{$bp-sm} {
                padding: 110px 0;
            }
        }

        .nl-archivements-card {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            @media #{$bp-lg} {
               gap:12px;
            }

            .nl-archivements-card-clm {
                background: #000;
                flex-grow: 1;
                width: 38%;
                padding: 10px 18px;
                margin: 10px;
                border-radius: 15px;
                min-height: 250px;

                @media #{$bp-lg} {
                    min-height: 170px;
                    padding: 10px 15px;
                    margin: 0;
                }

                .nl-archivements-icons-card {
                    padding: 15px 0;
                    border-bottom: 1.7px dashed #d8c4c4;
                    margin-bottom: 14px;
                    @media #{$bp-lg} {
                        margin-bottom: 0; 
                    }

                    .svg-inline--fa {
                        color: #ffcc33;
                        font-size: 48px;
                        margin-bottom: 12px;

                        @media #{$bp-lg} {
                            margin-bottom: 0;
                            font-size: 28px;
                        }
                    }
                }

                .nl-archivements-count {
                    padding-top: 18px;

                    h3 {
                        font-size: 1.6rem;
                        color: #fff;
                        @media #{$bp-lg} {
                            font-size: 1.2rem;
                            margin-bottom: 5px;
    }
                    }

                    p {
                        color: #ffcc33;
                        font-size: 15.3px;

                        @media #{$bp-sm} {
                            font-size: 12px;
                        }
                        @media #{$bp-lg} {
                            font-size: 12px;
                        }

                    }
                }
            }
        }
    }
}


.nl-archivements-card-clm:hover .nl-archivements-icons-card .svg-inline--fa {
    color: aliceblue !important;
    transition: all .2s;
}


.map-fade {
    // width: 23%;
    min-height: 490px;
    position: absolute;
    background: linear-gradient(to bottom, rgb(255 255 255 / 78%) 0%, rgba(255, 255, 255, 0) 100%);

}


.google-location {
    iframe {
        @media #{$bp-sm} {
            height: 300px;
        }
        @media #{$bp-lg} {
            height: 350px;
        }
    }

    @media #{$bp-sm} {

        margin-top: 72px;
    }
}

