@import '/src/custom_styles/buttons.scss';
@import '/src/custom_styles/mixins.scss';
@import '/src/custom_styles/variables.scss';

#readyassist-ui{
    overflow :hidden;
    height:100vh;
@media (max-width : 767px){
    height : auto;
}

    background-image: linear-gradient(to right,#efbd18,#fc9e08);
    .layout-px{
        padding: 290px 0;
        @media #{$bp-sm} {
            padding: 50px 0;
        }
        @media #{$bp-lg} {
            padding: 200px 0;
        }
    }
    .footer-downloadapp-container{

        
        
        @media #{$bp-sm} {
            margin-bottom: -18px;
        }

        .footer-downloadapp-card-clm{

            h1{
                font-size: 50px;
                line-height :50px;

                @media (max-width : 767px){
                    font-size: 30px;
                    line-height :30px;
                }
                
            }

            p{
                font-size :22px;
                font-weight: 1000;
                line-height :25px;

                @media (max-width : 767px){
                    font-size: 19px;
                    line-height :20px;
                }
            }
        }
    }
}


.footer-downloadapp-card{

    width: 100%;

    .footer-downloadapp-card-right{
        img{
            @media (min-width : 500px) and (max-width : 767px){
                max-width :400px;
            }
        }
    }
}

.img-google-play{
    img{
        @media #{$bp-sm} {
            width: 120px;
        }
    }
}