@import '/src/custom_styles/buttons.scss';
@import '/src/custom_styles/mixins.scss';
@import '/src/custom_styles/variables.scss';

#readyassist-ui{
    overflow :hidden;
    height:100vh;
    background-color: #ffcc33;
    .layout-px{
        padding: 290px 0;
        @media #{$bp-sm} {
            padding: 50px 0;
        }
        @media #{$bp-lg} {
            padding: 200px 0;
        }
    }
    .footer-downloadapp-container{
        
        @media #{$bp-sm} {
            margin-bottom: -18px;
        }
    }
}


.footer-downloadapp-card{

    width: 100%;

    .footer-downloadapp-card-right{
        img{
            @media (min-width : 500px) and (max-width : 767px){
                max-width :400px;
            }
        }
    }
}

.img-google-play{
    img{
        @media #{$bp-sm} {
            width: 120px;
        }
    }
}