<div id="readyassist-ui">
    <div class="footer-downloadapp-container">
        <div class="layout-px">
        <div class="footer-downloadapp-card row layout-padding">
            <div class="footer-downloadapp-card-clm col-lg-7">
                <h1>Download ReadyAssist App</h1>
                <p>
                    Subscribe now for hassle free ride at you fingertips. ReadyAssist 24/7 roadside assistance services
                    are available across any nook and corner of India to our subscribed customers.
                </p>
                <div class="img-google-play mt-2">
                    <img src="./assets/images/google-play.png" width="250px" alt="">
                </div>

            </div>
            <div class="footer-downloadapp-card-right col-lg-5">
                <div class="img-card">
                    <!-- <img src="./assets/images/nl-mobiledisplay.png" width="100%" alt=""> -->
                </div>
            </div>
        </div>
    </div>
    </div>
</div>